
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index:9999;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
 /* width: 65%;
  height:84%;*/
    width: 100%;
	max-width:800px;
  height: auto;
  margin: 8em auto;
  background: #ffffff ;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
	border-radius:4px;
	overflow:hidden;
}
.cd-popup-container p {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
/*.cd-popup-container .cd-popup-close {
	width:40px;
	height:40px;
	background:url(../images/newsletter_close.png) no-repeat center;
	position:absolute;
	top:20px;
	right:20px;
	cursor:pointer;
}*/



.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/*------------write-review------------*/
.write-review-container {
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #596f83;
	background:#fff;
    /*margin: 0 0 20px 0;*/
}
.write-review-container .head{
    width: 100%;
    height: auto;
    float: left;
   	background:#ff7430;
	padding:20px 25px;
}
.write-review-container .head .text{
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight:400;
    color: #ffffff;
	text-transform:uppercase;
}
.write-review-container .head .text:before {
    float: left;
    width: 19px;
    height: 19px;
    content: "";
    background: url(../images/write-icon.png) no-repeat center;
    margin: -4px 10px 0 0;
}

.write-review-container .review-from{
    width: 100%;
    height: auto;
    float: left;
	padding:28px 35px;
}
.write-review-container .review-from .input_field {
    border: solid 1px #dadada;
    color: #7d7d7d;
    font: 13px/35px 'Poppins', sans-serif;
    height: 35px;
    margin-top: 10px;
    text-indent: 10px;
    width: 100%;
	border-radius:2px;
}
.write-review-container .review-from .textarea_field {  
   height: 176px;
}


.write-review-container .review-from .line
{
	width: 100%;
    height: 1px;
    float: left;
	background:#dadada;
	margin:20px 0;
}

.write-review-container .review-from .text1
{
	 width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight:500;
    color: #434343;
	text-transform:uppercase;
	margin-bottom:8px;
}
.write-review-container .review-from .rating
{
	 width: 120px;
    height: auto;
    float: left;
   
}
.write-review-container .review-from .text2
{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    line-height: 18px;
    font-weight:500;
    color: #7d7d7d;
	width: auto;
    height: auto;
    float: left;
	margin-top:5px;
}

.write-review-container .review-from .clear
{
	width: 100%;
    height: 1px;
    float: left;
	margin:0 0 10px 0;
}

.write-review-container .review-from .cancel-btn {
    width: 90px;
    height: 30px;
    overflow: hidden;
    float: right;
    margin: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: #4f4f4f;
    cursor: pointer;
	border-radius:3px;
}
.write-review-container .review-from .submit-btn {
    width: 90px;
    height: 30px;
    overflow: hidden;
    float: right;
    margin: 0 0 0 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: #ff7430;
    cursor: pointer;
	border-radius:3px;
}
/*------------write-review end------------*/

/*------------select city------------*/
.cd-popup-select-city {
  width: 100%;
  max-width:630px;
  height: auto;
  margin: 8em auto;
  overflow:visible;
}

.write-review-container .head .head-text{
    width: 100%;
    height: auto;
    float: left;
   
}
.write-review-container .head .head-text:before {
    float: left;
    width: 45px;
    height: 60px;
    content: "";
    background: url(../images/selectcity-icon.png) no-repeat center;
    margin: 0 15px 0 0;
}
.write-review-container .head .head-text .text-1
{
	 font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 22px;
    font-weight:500;
    color: #ffffff;
	margin:10px 0 5px 0;
}
.write-review-container .head .head-text .text-2
{
	 font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight:400;
    color: #ffffff;
}
.write-review-container .review-from .select_field_container
{
	width: 100%;
    height: auto;
    float: left;
	/*border: solid 1px #dadada;*/
	position:relative;
	border-radius:2px;
	color: #7d7d7d;
    font: 13px/35px 'Poppins', sans-serif;
}
.write-review-container .review-from .select_field_container .select_field {
    
    color: #7d7d7d;
    font: 13px/35px 'Poppins', sans-serif;
    height: 30px;
	line-height:32px;
    text-indent: 10px;
    width: 100%;
	text-transform:uppercase;

	
}
.write-review-container .review-from .select_field_container:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #ff7430 transparent transparent transparent;
    right: 15px;
    top: 12px;
    position: absolute;
    content: ' ';
}

.write-review-container .top-list
{
	width: 100%;
    height: auto;
    float: left;
	border-top: solid 1px #dadada;
	border-bottom: solid 1px #dadada;
	padding:22px 35px;

}

.write-review-container .top-list .text3 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    color: #989898;
    width: 100%;
    height: auto;
    float: left;
	margin-bottom:14px;
}
.write-review-container  .top-list .top-list-result
{
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ff7430;
	text-transform:uppercase;
    width: 100%;
    height: auto;
    float: left;
}
.write-review-container  .top-list .top-list-result span
{
	margin:0 20px;
}
.write-review-container .review-from-1
{
	    padding: 22px 35px 20px 35px;
}
/*------------select city end------------*/
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 7em auto;
  }
  .cd-popup-select-city {
	  margin: 10em auto;
	}
}
@media only screen and (max-width: 990px) {
.cd-popup-container {
    margin: 2em auto;
  }	
}
@media only screen and (max-width: 640px) {
.cd-popup-select-city {
	  margin: 6em auto;
	}	
}
@media only screen and (max-width: 480px) {
.cd-popup-select-city {
	  margin: 4em auto;
	}
.write-review-container .head .head-text:before {
    width: 30px;
    height: 54px;
    content: "";
	background-size:100%;
}	
.write-review-container .head .head-text .text-1 {
    font-size: 18px;
    line-height: 18px;
}
.write-review-container .head .head-text .text-2 {
    font-size: 12px;
    line-height: 16px;
}	
.write-review-container .top-list .top-list-result span {
    margin: 0 5px;
}
}