a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
border:0;
font:inherit;
vertical-align:baseline;
margin:0;
padding:0;
}

a {
background-color:transparent;
text-decoration:none;
color:inherit;
}

table {
border-collapse:collapse;
border-spacing:0;
}

img,legend {
border:0;
}

legend,td,th {
padding:0;
}

html {
font-family:sans-serif;
-ms-text-size-adjust:100%;
-webkit-text-size-adjust:100%;
}

audio,canvas,progress,video {
display:inline-block;
vertical-align:baseline;
}

audio:not([controls]) {
display:none;
height:0;
}

abbr[title] {
border-bottom:1px dotted;
}

b,optgroup,strong {
font-weight:700;
}

dfn {
font-style:italic;
}

h1 {
font-size:2em;
margin:.67em 0;
}

mark {
background:#ff0;
color:#000;
}

small {
font-size:75%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

svg:not(:root) {
overflow:hidden;
}

hr {
box-sizing:content-box;
height:0;
}

pre,textarea {
overflow:auto;
}

code,kbd,pre,samp {
font-size:1em;
font-family:monospace,monospace;
}

button,input,optgroup,select,textarea {
color:inherit;
font:inherit;
margin:0;
}

button {
overflow:visible;
}

button,select {
text-transform:none;
}

button,html input[type=button],input[type=reset],input[type=submit] {
-webkit-appearance:button;
cursor:pointer;
}

button[disabled],html input[disabled] {
cursor:default;
}

button::-moz-focus-inner,input::-moz-focus-inner {
border:0;
padding:0;
}

input {
line-height:normal;
}

input[type=checkbox],input[type=radio] {
box-sizing:border-box;
padding:0;
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
height:auto;
}

input[type=search] {
box-sizing:content-box;
-webkit-appearance:textfield;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
-webkit-appearance:none;
}

fieldset {
border:1px solid silver;
margin:0 2px;
padding:.35em .625em .75em;
}

input[type=number] {
width:auto;
}

progress {
display:inline-block;
}

textarea {
resize:vertical;
}

[unselectable] {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}

*,::after,::before {
box-sizing:inherit;
border-style:solid;
border-width:0;
}

* {
font-size:inherit;
line-height:inherit;
margin:0;
padding:0;
box-sizing:border-box;
}

::after,::before {
text-decoration:inherit;
vertical-align:inherit;
}

:root {
-ms-overflow-style:0;
overflow-y:scroll;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
text-size-adjust:100%;
box-sizing:border-box;
cursor:default;
font:16px/1.5 sans-serif;
text-rendering:optimizeLegibility;
}

audio,canvas,iframe,img,svg,video {
vertical-align:middle;
}

button,input,select,textarea {
background-color:transparent;
color:inherit;
font-family:inherit;
font-style:inherit;
font-weight:inherit;
min-height:1.5em;
}

nav ol,nav ul {
list-style:none;
}

select {
-moz-appearance:none;
-webkit-appearance:none;
}

select::-ms-value {
color:currentColor;
}

button:focus,input:focus,select:focus,textarea:focus,a:active,a:hover {
outline:0;
}

body,figure {
margin:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary,details,main,summary {
display:block;
}

[hidden],template,[hidden],audio:not([controls]),template,select::-ms-expand {
display:none;
}

::-moz-selection,::selection {
background-color:#B3D4FC;
text-shadow:none;
}

@media screen{
[hidden~=screen] {
display:inherit;
}

[hidden~=screen]:not(:active):not(:focus):not(:target) {
clip:rect(0000)!important;
position:absolute!important;
}
}