@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
}
.wrapper{
	height:auto;
	width:100%;
	float:left;
}

/*-------------selectBox-------------*/



.qty_number .selectBox
{	

	position:relative;
	display:inline-block;
	cursor:pointer;
	line-height:34px;
	clear:both;
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #757575;
	text-align:center;
}
.qty_number span.selected
{
	width: 40px;
	height: 34px;
	overflow: hidden;
}
/*.qty_number span.selectArrow
{
	width:24px;
	height:24px;
	background:url(../images/sprites.png) no-repeat;
	background-position: -713px -47px ;
	margin: 2px 4px 0 0;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}*/

.qty_number span.selectArrow,.qty_number span.selected
{
	position:relative;
	float:left;
	
	z-index:1;
}

.qty_number .selectOptions
{
	
	position:absolute;
	top:28px;
	left:0;
	width:40px;
	overflow:hidden;
	display:none;
	z-index:9;
	border:1px solid #e8e7e7;
	background:#fff;
}
	
.qty_number span.selectOption
{
	display:block;
	width:100%;
	line-height:20px;
	padding:5px 10%;
}

.qty_number  span.selectOption:hover
{
	color:#f6f6f6;
	background:#e56c42 ;	
}	
/*------------selectBox end--------------*/



.notification-pop-up
{
	width:200px;
	height:40px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-20px;
	margin-left:-100px;
	background:#ff7430;
	border-radius:5px;
	z-index:9;
    display:none;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.call-pop-up
{
	width:200px;
	height:40px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-20px;
	margin-left:-100px;
	background:#4b9e0f;
	border-radius:5px;
	z-index:9;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
	
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}


.call-pop-up .call-pop-up-close
{
	width:15px;
	height:15px;
	position:absolute;
	top:2px;
	right:5px;
	font-size: 10px;
    line-height: 15px;
    font-weight: 300;
    color: #fff;
	cursor:pointer;
}
.call-pop-up.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.call-pop-up .fa-phone
{
	margin:0 5px 0 0;
}
.responsive-menu-overlay
{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display:none;
	z-index:9;

}
.responsive-menu-btn {
    width: 40px;
    height: 55px;
	line-height:55px;
    text-align: center;
    cursor: pointer;
    float: left;
    display: none;
	font-size: 24px;
    color: #FF7430;
	margin-right:2%;
}
.responsive-user-btn {
    width: 40px;
    height: 55px;
	line-height:55px;
    text-align: center;
    cursor: pointer;
    float: right;
    display: none;
	font-size: 20px;
    color: #8B8B8B;
}
header{
	background-color:#FFFFFF;
	height:auto;
	float:left;
	width:100%;
}
.header_wrap_1{
	border-bottom:solid 1px #e2e2e2;
	height:auto;
	width:100%;
	float:left;
}
.header_wrap_top
{
	padding:40px 0;
}

.main_container{
	background-color:#FFFFFF;
	height:auto;
	margin:0 auto;
	/*overflow:hidden;*/
	width:1100px;
	max-width:90%;
}

.page_links_wrap{
	float:right;
	height:auto;
	margin-top: 25px;
	width:auto;
}
.page_links_wrap ul{
	margin:0;
	padding:0;
}
.page_links_wrap ul li{
	float:left;
	line-height:20px;
	list-style:none;
}
.page_links_wrap ul li a{
	color:#909090;
	font-family: 'Poppins', sans-serif;
	font-size:11px;
	font-weight:500;
	padding: 0px 10px 0px 0px;
	text-decoration:none;
}
.page_links_wrap ul li span{
	color:#909090;
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	font-weight:500;
	padding: 0px 10px 0px 0px;
}

.page_links_wrap ul li a:hover{
	color:#ff7430;
	text-decoration:none;
}


.logo{
	float:left;
	height:auto;
	/*margin:40px 0px 40px 0px;*/
	width:50px;
	height:auto;
}
.logo a
{
	width:100%;
	height:100%;
	display:inline-block;
}
.logo img{
	width:100%;
}

.header_section_right{
	float:right;
	height:auto;
	margin:10px 0px 0px 0px;
	width:auto;
}
.header_section_right > li{
	float:right;
	list-style:none;
	position:relative;
}
.header_section_right > li > a{
	color:#596f83;
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	font-weight:500;
	padding: 0px 0px 0px 10px;
	text-decoration:none;
	display:block;
}
.header_section_right > li > a:hover{
	color:#ff7430;
	text-decoration:none;
}
.header_section_right > li:hover .sub_menu
{
	display:block;
}
.header_section_right > li > .sub_menu
{
	width:160px;
	height:auto;
	overflow:hidden;
	background:#fff;
	display:none;
}

.header_section_right > li > .sub_menu
{
	width:160px;
	height:auto;
	overflow:hidden;
	position:absolute;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
    box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
	z-index:99;

}
.header_section_right > li > .sub_menu > li
{
	color:#596f83;
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	line-height:32px;
	font-weight:500;
	padding:0 0 0 12px;
	border-bottom:1px solid #d2d6d8;
}
.header_section_right > li > .sub_menu > li:last-child
{
	border-bottom:none;
}
.header_section_right > li > .sub_menu > li:first-child
{
	background:#e7e7e7;
	padding:24px 0;
}
.header_section_right > li > .sub_menu > li .round
{
	width:45px;
	height:45px;
	background:#fff;
	overflow:hidden;
	margin:0 auto;
	line-height:45px;
	text-align:center;
	border-radius:45px;
	text-indent: 3px;
}
.header_section_right > li > .sub_menu > li > a
{
	width:100%;
	height:100%;
	display:inline-block;
}

.header_section_right > li > .sub_menu > li:hover
{
	color:#ff7430;
}

.header_section_right li .fa-sign-in{

	font-size:15px;
	margin-right:10px;
}

nav{
	background-color:#FFFFFF;
	height:auto;
	margin:0 auto;
	width:100%;
	overflow:hidden;
}
nav ul{
	margin:0;
	padding:0;
	width:100%;
	height:auto;
	float:left;
}
nav ul li{
	float:left;
	line-height:50px;
	list-style:none;
	width:185px;
}
nav ul li a{
	color:#596f83;
	font-family: 'Poppins', sans-serif;
	font-size:12px;
	font-weight:500;
	text-decoration:none;
	text-transform:uppercase;
}
nav ul li a span{
	padding:0px 10px 0px 0px;
}

nav ul li a:hover{
	color:#ff7430;
	text-decoration:none;
}
.banner_section{
	height:auto;
	position:relative;
	width:100%;
	float:left;
	border-top: solid 4px #ff7430;
}
.search_main_container{
	/*background-color:rgba(193,47,160,0.8);*/
	height:135px;
	margin:0 auto;
	position:absolute;
	top:350px;
    z-index: 1;
	width:100%;
}

.search_container{
	background-color:rgba(255,116,48,0.8);
	height:135px;
	margin:0 auto;
	width:1100px;
	max-width:90%;
}
.search_tab_wrap{
	height:35px;
	width:100%;
}
#search_tab{ 
   	width: 220px;
    height: 0px;
    border-bottom: 35px solid #1C5F0F;
    border-right: 35px solid transparent;
	float: left;
	color:#FFFFFF;
	font-family: 'Poppins', sans-serif;
	font-size:14px;
	font-weight:500;
	text-align: center;
    line-height: 35px;
	letter-spacing: 1.5px;
	position:relative;
	z-index:10;
}
#adv_search_tab {
	width: 240px;
    height: 0px;
    border-bottom: 35px solid #FFFFFF;
    border-right: 35px solid transparent;
    float: left;
    color: #3e6181;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    line-height: 35px;
    margin-left: -35px;
    text-indent: 30px;
	letter-spacing: 1.5px;
}
/*#adv_search_tab {
	width: 220px;
	height: 35px;
	background-color:rgba(213,213,213,0.8);
	float: left;
	margin-left: -18px;
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	transform: skew(45deg);
}
*/







/*main_content_section*/


.main_content_section{
width:100%;
height:auto;
overflow:hidden;
position:relative;
background-color:#fff;
padding-bottom:40px;
}

.main_content_article{
width:1100px;
height:560px;
margin:0 auto;
position:relative;
/*background-color:#6EE6FF;*/
}

.main_content_div{
width:100%;
height:auto;
margin:0 auto;
position:relative;
margin-top:50px;
float:left;
}
.main_content_div_titile_sort_wrap{
	width:100%;
	height:auto;
	float:left;
}
.main_content_div .title1{
font: 14px/14px 'Poppins', sans-serif;
color:#414141;
width:auto;
text-transform:uppercase;
font-weight:500;
margin-bottom:25px;
float:left;
}
.sort_wrap_main
{
	width:auto;
	height:auto;
	float:right;
	font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 18px;
	font-weight:500;
    color: #737272;	
	margin-bottom: 18px;
}

.sort_wrap_main ul{
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	float:right;
}
.sort_wrap_main ul li{
	float:left;
	line-height:20px;
	list-style:none;
}
.sort_wrap_main ul li a{
	font-family:'Poppins', sans-serif;
	font-size:12px;
	font-weight:500;
    color: #737272;
	text-decoration:none;
	padding: 0px 15px 0px 15px;
}
.sort_wrap_main ul li a span{
	font-family:'Poppins', sans-serif;
	font-size:12px;
	font-weight:500;
    color: #737272;
}

.sort_wrap_main ul li:nth-child(5) a{
	padding: 0px 0px 0px 15px;
}

.sort_wrap_main ul li a:hover{
    color: #ff7430;
	text-decoration:none;
}

.main_content_deal1{
width:100%;
height:auto;
float:left;
/*min-height:360px;*/
margin-bottom:40px;
position:relative;
padding:28px 0 28px 0;
border:1px solid #ccc;
transition:0.2s ease-in-out;
-webkit-transition:0.2s ease-in-out;
-moz-transition:0.2s ease-in-out;
-o-transition:0.2s ease-in-out;
-ms-transition:0.2s ease-in-out;
}

.main_content_deal1.align-right
{
	float:right;
}

.main_content_deal1:hover
{
border:1px solid #ffd8c5;
-webkit-box-shadow: 0px 0px 30px 1px rgba(206,202,202,1);
-moz-box-shadow: 0px 0px 30px 1px rgba(206,202,202,1);
box-shadow: 0px 0px 30px 1px rgba(206,202,202,1);	
}

.main_content_deal1_logo{
width:20%;
height:auto;
float:left;
text-align:center;
margin-top:30px;
}
.main_content_deal1_logo a
{
	width:100%;
	height:100%;
	display:inline-block;
}
.main_content_deal1_logo img{
	max-width:80%;
}

.main_content_deal1_logo .logo_text
{
	font-family:'Poppins', sans-serif;
	font-size:20px;
	line-height: 30px;
	font-weight:700;
    color: #4ca9c4;
    text-align: center;
	text-shadow:2px 2px #dbdbdb;
}
.main_content_deal1_logo .logo_text a
{
	color:inherit;
}

.main_content_deal1_timeleft{
width:80%;
height:auto;
position: relative;
float:left;
padding:0 24px;
}

.main_content_deal1_timeleft .time_left_head{
font: 12px/12px 'Poppins', sans-serif;
color:#414141;
width:100%;
text-transform:uppercase;
float:left;
margin-bottom:10px;
font-weight:600;
}

.main_content_deal1_timeleft .no_of_items{
font: 12px/12px 'Poppins', sans-serif;
color:#ff7430;
width:auto;
text-transform:uppercase;
float:right;
margin:10px 0;
font-weight:500;
}

.main_content_deal1_timeleft_box{
width:100%;
height:34px;
float:left;
background:#e1e1e1;
position:relative;
}

.main_content_deal1_timeleft_box1{
width:62%;
height:35px;
float:left;
/*background-color:#ccc;*/
position:relative;
}

.main_content_deal1_timeleft_boxtime{
width:auto;
height:auto;
background-color:#e2835a;
float:left;
padding:11px;
font: 12px/12px 'Poppins', sans-serif;
color:#fff;
text-align:center;
}

.main_content_deal1_timeleft_boxbrclts{
width:auto;
height:auto;
float:left;
padding:11px;
font: 12px/12px 'Poppins', sans-serif;
color:#757575;
text-align:center;
}

.main_content_deal1_timeleft_boxprice{
width:auto;
height:auto;
float:left;
padding:11px;
font: 12px/12px 'Poppins', sans-serif;
color:#ff7430;
text-decoration:none;

}

.main_content_deal1_timeleft_boxprice span{
font: 11px/11px 'Poppins', sans-serif;
color:#757575;
text-decoration:line-through;	
}

.main_content_deal1_timeleft_boxpercnt{
width:auto;
height:auto;
background-color:#9a9a9a;
float:left;
padding:11px;
font: 12px/12px 'Poppins', sans-serif;
color:#fff;
text-align:center;
}

.main_content_deal1_timeleft_box2{
width:38%;
height:35px;
float:left;
/*background-color:#999;*/
position:relative;
}

.main_content_deal1_timeleft_boxqunty{
width:auto;
height:auto;
float:left;
padding:11px;
font: 12px/12px 'Poppins', sans-serif;
color:#757575;
text-align:center;
}

.main_content_deal1_timeleft_boxblock{
width:auto;
height:auto;
float:left;
padding:8px;
font: 20px/20px 'Poppins', sans-serif;
color:#888888;
text-align:center;
}

.main_content_deal1_timeleft_boxblock:hover{
color:#ff7430;
}

.main_content_deal1_timeleft_boxcall{
width:auto;
height:auto;
float:left;
padding:8px;
font: 20px/20px 'Poppins', sans-serif;
color:#888888;
text-align:center;	
}

	
/*--------------------------------------------*/
.deal-wrapper-clear
{
	width:100%;
	height:1px;
	float:left;
}

.deal-item-main-container
{
	width:100%;
	height:auto;
	float:left;
}
.deal-item-container
{
	width:100%;
	height:auto;
	float:left;
	border:1px solid #e8e7e7;
	transition:0.2s ease-in-out;
	-webkit-transition:0.2s ease-in-out;
	-moz-transition:0.2s ease-in-out;
	-o-transition:0.2s ease-in-out;
	-ms-transition:0.2s ease-in-out;
	margin-bottom:10px;
}

.deal-item-container:hover
{
	background:#e1e1e1;
	border:1px solid #e8e7e7;
}

.deal-item-container .time-left
{
    width: auto;
    height: auto;
    background-color: #e2835a;
    float: left;
    padding: 11px;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 12px;
	font-weight:500;
    color: #fff;
    text-align: center;
}
.deal-item-container .time-left-e
{
    width: auto;
    height: auto;
    float: left;
    padding: 11px 20px;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 12px;
	font-weight:500;
    color: #ff7430;
    text-align: center;
}
.deal-item-container .time-left-e span
{
	color:#757575;
}
.deal-item-container .product-name
{
    width: auto;
	min-width:33%;
    height: auto;
    float: left;
    padding: 11px;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 12px;
	font-weight:500;
    color: #757575;
    text-align: left;
}
.deal-item-container .price
{
    width: auto;
	min-width:15%;
    height: auto;
    float: left;
    padding: 11px;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 12px;
	font-weight:500;
    color: #ff7430;
    text-decoration: none;
	/*margin:0 2%;*/
}

.deal-item-container .price span {
    font-family:'Poppins', sans-serif;
	font-size:11px;
	line-height: 11px;
    color: #757575;
    text-decoration: line-through;
}
.deal-item-container .discount
{
    width: auto;
    height: auto;
    background-color: #9a9a9a;
    float: left;
    padding: 11px;
   font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 12px;
	font-weight:500;
    color: #fff;
    text-align: center;
}
.deal-item-container .qty_clear
{
	width:100%;
	height:1px;
	float:left;
	display:none;
}
.deal-item-container .qty
{
    width: auto;
    height: auto;
    float: left;
    padding: 0 24px;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 12px;
	font-weight:500;
    color: #757575;
    text-align: center;
}

.deal-item-container .qty_txt
{
    width: auto;
    height: auto;
    float: left;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 34px;
	font-weight:500;
    color: #757575;
}
.deal-item-container .qty_number
{
    width: auto;
    height: 34px;
    float: left;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 34px;
	font-weight:500;
    color: #757575;
	position:relative;
}
.deal-item-container .qty_number_select
{
    width: auto;
    height: auto;
    float: left;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 13px;
	font-weight:500;
    color: #757575;
	padding-right:10px;
	position:relative;
	z-index:1;
	cursor:pointer;
}

.deal-item-container .qty_number:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #9d9d9d transparent transparent transparent;
    right: 0;
    top: 14px;
    position: absolute;
    content: ' ';
	z-index:0;
}

.deal-item-container .block-call-container
{
	width: auto;
    height: auto;
    float: left;	
}
.deal-item-container .block
{
    width: auto;
    height: auto;
    float: left;
    padding: 6px 12px;
    font-family:'Poppins', sans-serif;
	font-size:20px;
	line-height: 20px;
	font-weight:500;
    color: #888888;
    text-align: center;
}

.deal-item-container .block-e
{
    width: auto;
    height: auto;
    float: left;
    padding: 6px 20px;
    font-family:'Poppins', sans-serif;
	font-size:20px;
	line-height: 20px;
	font-weight:500;
    color: #ff7430;
    text-align: center;
}
.deal-item-container .call
{
    width: auto;
    height: auto;
    float: left;
    padding: 6px 12px;
    font-family:'Poppins', sans-serif;
	font-size:20px;
	line-height: 20px;
	font-weight:500;
    color: #888888;
    text-align: center;
}
.deal-item-container .call-e
{
    width: auto;
    height: auto;
    float: left;
    padding: 6px 12px;
    font-family:'Poppins', sans-serif;
	font-size:20px;
	line-height: 20px;
	font-weight:500;
    color: #1D9A17;
    text-align: center;
}
.deal-item-container .call:hover , .deal-item-container .block:hover{
color:#ff7430;
}

.main_content_deal1 .view-product-link
{
    width: 120px;
    height: auto;
    position:absolute;
	bottom:-10px;
	left:50%;
	margin-left:-60px;
    font-family: 'Roboto', sans-serif;
	font-size:11px;
	line-height: 21px;
	font-weight:500;
    color: #ffffff;
    text-align: center;
	text-transform:uppercase;
	background:#8b8b8b;
	border-radius:8px;
	transition:0.2s ease-in-out;
	-webkit-transition:0.2s ease-in-out;
	-moz-transition:0.2s ease-in-out;
	-o-transition:0.2s ease-in-out;
	-ms-transition:0.2s ease-in-out;
}


.main_content_deal1:hover:hover .view-product-link
{
	background:#ff7430;
}


/*-------*/
.slider-search-wrapper
{
	width:100%;
	height:auto;
	position:relative;
	float:left;
}
.search-main-wrapper
{
	width:100%;
	position:absolute;
	z-index:1;
	top:362px;
	left:0;
}
.search-wrapper
{
	width:1100px;
	max-width:90%;
	height:auto;
	/*overflow:hidden;*/
	position:relative;
	margin:0 auto;
	
	
}
.search-wrapper .bottom-border {
  /*content: '';
  position: absolute;
  bottom: -5px;
  left: 0;*/
  width: 100%;
  height: 5px;
  float:left;
  background:rgba(0,0,0,0.3);

}
.search-wrapper .search-head
{
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative;
	
}

.search-wrapper .search-head .search-tabs
{
	width:auto;
	height:auto;
	float:left;
	position:relative;
}

.search-wrapper .search-head .search-tabs .tab:after {
  content: '';
  position: absolute;
  top: 0;
  right: -35px;
  width: 0;
  height: 0;
  border-bottom: 35px solid rgb(184, 182, 182);
  border-right: 35px solid transparent;
  z-index:1;

}
.search-wrapper .search-head .search-tabs .active:after {
  content: '';
  position: absolute;
  top: 0;
  right: -35px;
  width: 0;
  height: 0;
  border-bottom: 35px solid rgb(208, 95, 40);
  border-right: 35px solid transparent;
  z-index:1;

}

.search-wrapper .search-head .search-tabs .tab
{
	float:left;
	color: #3e6181;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
	text-transform:uppercase;
	font-weight:500;
	padding: 7px 24px;
	cursor:pointer;
	position:relative;
	background: rgb(184, 182, 182);
}
.search-wrapper .search-head .search-tabs .tab.active
{
	background:rgb(208, 95, 40);
	color: #fff;

}

.search-wrapper .search-head .search-tabs .tab.advance-search-tab
{
	text-indent:10px;
}
.search-wrapper .search-content
{
	width:100%;
	height:auto;
	/*overflow:hidden;*/
	float:left;
	position:relative;
	background:rgba(255,116,48,0.8);
	padding:10px 0;
	display:none;
}

#basic-search
{
	display:block;
}
.search-wrapper .search-head .search-title
{
	float:right;
	margin-top: 14px;
    color: #ffffff;
    font-size: 15px;
	line-height:20px;
    font-family: 'Raleway', sans-serif;
	font-weight: 500;
}
.search-wrapper .search-head .search-title a
{
	font-size:17px;
	color:#ff5d04;
}



.searchform {
  padding: 2px 25px;
  position: relative;
  height:auto;
  width:auto;
}

.searchform input, .searchform button {
	float: left
}
.searchform input {
	background-color:#fff;
	background:url(../images/linkcion.png) 10px 12px #fff;
	background-repeat:no-repeat;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	font-size:14px;
	margin-right: 5px;
	width: 100%;
	height:40px;
	padding-left:40px;
}
	.searchform input:focus {
		outline: none;
		box-shadow:0 0 0px #0d76be inset;
		-moz-box-shadow:0 0 0px #0d76be inset;
		-webkit-box-shadow:0 0 0px #0d76be inset;
	}
	.searchform input::-webkit-input-placeholder {
  	line-height: 22px;
	}

	.searchform input:-moz-placeholder {
	  line-height: 22px;
	}

.searchform button {
	background: #292929;
	border: none;
	color:#fff;
	cursor: pointer;
	font: 14px/14px 'Poppins', sans-serif;
	padding: 13px;
	width:106px;
	text-transform:uppercase;
	
}
	.searchform button:hover {
		opacity:.9;
	}
	

.searchform1 {
  padding: 2px 25px;
  position: relative;
  height:auto;
  /*overflow:hidden;*/
  width:auto;
}

.searchform1 .inputField, .searchform button {
	float: left
}
.searchform1 .inputField {
	background-color:#fff;
	border: none;
	font-family: 'Poppins', sans-serif;
	font-weight:400;
	font-size:14px;
	color: #757575;
	width: 100%;
	height:40px;
	padding-left:40px;
}

.searchform1 .inputField.location-icon
{
	background:url(../images/location-icon.png) 10px 12px #fff;
	background-repeat:no-repeat;
}
.searchform1 .inputField.product-icon
{
	background:url(../images/product-input-icon.png) 10px 12px #fff;
	background-repeat:no-repeat;
}
.searchform1 .inputField.store-icon
{
	background:url(../images/store-con.png) 10px 12px #fff;
	background-repeat:no-repeat;
}
.searchform1 .inputField:focus {
	outline: none;
	box-shadow:0 0 0px #0d76be inset;
	-moz-box-shadow:0 0 0px #0d76be inset;
	-webkit-box-shadow:0 0 0px #0d76be inset;
}
.searchform1 .inputField::-webkit-input-placeholder {
line-height: 22px;
}

.searchform1 .inputField:-moz-placeholder {
  line-height: 22px;
}

.searchform1 .submitBtn {
background: #292929;
border: none;
color:#fff;
cursor: pointer;
font: 14px/14px 'Poppins', sans-serif;
padding: 13px;
width:106px;
text-transform:uppercase;

}
.searchform1 .submitBtn:hover {
	opacity:.9;
}	

/*-----------------selectBox Search------------------*/


.searchform .field_wrapper {
    background-color: #fff;
    border: none;
    margin-right: 5px;
    width: 60%;
    height: 40px;
	float:left;
	position:relative;
}
.searchform .field_wrapper .search-icon {
    width: 40px;
    height: 40px;
    float: left;
    background: #FFF url(../images/linkcion.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.searchform .field_wrapper .selectBox
{	

	position:relative;
	display:inline-block;
	cursor:pointer;
	line-height:40px;
	clear:both;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #757575;
	text-align:left;
	width:100%;
}
.searchform .field_wrapper span.selected
{
	width: 100%;
	height: 40px;
	overflow: hidden;
	padding-left:40px;
}
.searchform .field_wrapper span.selectArrow
{
	width:24px;
	height:24px;
	background:url(../images/sprites.png) no-repeat;
	background-position: -713px -47px ;
	margin: 2px 4px 0 0;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}

.searchform .field_wrapper span.selectArrow,.searchform .field_wrapper span.selected
{
	position:relative;
	float:left;
	
	z-index:1;
}

.searchform .field_wrapper .selectOptions
{
	
	position:absolute;
	top:40px;
	left:0;
	width:100%;
	overflow:hidden;
	display:none;
	z-index:9;
	border:1px solid #e8e7e7;
	background:#fff;
}
	
.searchform .field_wrapper span.selectOption
{
	display:block;
	width:100%;
	padding:0 20px 0 40px;
	line-height:30px;
	float:left;
}
.searchform .field_wrapper span.selectOption.sub
{
	padding:0 20px 0 60px;
}
.searchform .field_wrapper  span.selectOption:hover
{
	color:#f6f6f6;
	background:#e56c42 ;	
}	

.searchform .search-dropdown-label {
    width: 100%;
    height: auto;
    float: left;
    padding: 0 13px;
    border-bottom: 1px solid #f36f25;
    box-sizing: border-box;
    font-size: 12px;
	line-height: 30px;
}

.searchform1 .field_wrapper {
    background-color: #fff;
    border: none;
    margin-right: .6%;
    width:40%;
    height: 40px;
	float:left;
	position:relative;
}
.searchform1 .field_wrapper .selectBox
{	

	position:relative;
	display:inline-block;
	cursor:pointer;
	line-height:40px;
	clear:both;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #757575;
	text-align:left;
	width:100%;
}
.searchform1 .field_wrapper span.selected
{
	width: 100%;
	height: 40px;
	overflow: hidden;
	padding-left:40px;
}
.searchform1 .field_wrapper span.selectArrow
{
	width:24px;
	height:24px;
	background:url(../images/sprites.png) no-repeat;
	background-position: -713px -47px ;
	margin: 2px 4px 0 0;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

}

.searchform1 .field_wrapper span.selectArrow,.searchform1 .field_wrapper span.selected
{
	position:relative;
	float:left;
	
	z-index:1;
}

.searchform1 .field_wrapper .selectOptions
{
	
	position:absolute;
	top:40px;
	left:0;
	width:100%;
	overflow:hidden;
	display:none;
	z-index:9;
	border:1px solid #e8e7e7;
	background:#fff;
}
	
.searchform1 .field_wrapper span.selectOption
{
	display:block;
	width:100%;
	line-height:30px;
	padding:0 20px 0 40px;
	float:left;
}

.searchform1 .field_wrapper  span.selectOption:hover
{
	color:#f6f6f6;
	background:#e56c42 ;	
}	
.searchform1 .field_wrapper .location-icon {
    width: 40px;
    height: 40px;
    float: left;
    background: #FFF url(../images/location-icon.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
/*.searchform1 .field_wrapper .product-icon {
    width: 40px;
    height: 40px;
    float: left;
    background: #FFF url(../images/product-input-icon.png) no-repeat center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}*/
/*-------------------selectBox Search end-----------------*/

/*--------------lib--------------*/

.download_app_main_wrap{
	background-color:#f0f0f0;
	height:auto;
	width:100%;
	float:left;
}
.download_app_main_container{
	height:auto;
	margin:0 auto;
	overflow: hidden;
	width:1100px;
	max-width:90%;
}
.download_app_left_section{
	float:left;
	height:auto;
	padding-bottom: 60px;
	width:55%;
}
.download_app_left_section h1{
	color:#2b2b2b;
	font: 30px/30px 'Poppins', sans-serif;
	font-weight: 600;
	text-align:center;
	padding-top: 40px;
	text-transform:uppercase;
}
.download_app_left_section p{
	color:#2b2b2b;
	font: 13px/40px 'Poppins', sans-serif;
	text-align:center;
}
.download_store_wrap{
	height:auto;
	margin:0 auto;
	margin-top: 30px;
	float:left;
	position:relative;
	left:50%;
	margin-left:-150px;
	width:300px;
}
.download_store_icon_div{
	float:left;
	height:auto;
	width:auto;
}
.download_store_icon_div:nth-child(2){
	float:right;
}
.download_section_bottom_wrap{
	height:auto;
	margin-top: 90px;
	width:93%;
	float:left;
	margin-left:3.5%;
}
.download_secure_pay_icon{
	float:left;
	height:auto;
	width:auto;
}
.download_secure_pay_icon img{
	width:100%;
}
.download_secure_pay_icon:nth-child(1){
	width:29.5%;
}

.download_secure_pay_icon:nth-child(2){
	margin-left: 12.5%;
	width:17.8%;
}
.box-hover { transition: all 500ms ease-in-out; -webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; }
.box-hover:hover, .box-hover:focus { transform: translate(0, -8px); -webkit-transform: translate(0, -8px); -ms-transform: translate(0, -8px); }

.download_secure_pay_icon:nth-child(3){
	float:right;
	width:27%;
}

.download_app_right_section{
	float:right;
	height:auto;
	width:35%;
}
.download_app_right_section img{
	margin-top:100px;
	width:100%;
}
.never_miss_wrap_main{
	background-color:#bababa;
	height:auto;
	margin-top:80px;
	padding: 40px 0px 52px 0px;
	width:100%;
	float:left;
}
.never_miss_ofr_container{
	height:auto;
	margin:0 auto;
	width:540px;
	overflow:hidden;
}
.never_miss_ofr_container h1{
	color:#FFFFFF;
	font: 30px/30px 'Poppins', sans-serif;
	font-weight: 500;
	letter-spacing: 10px;
	text-align:center;
	text-transform:uppercase;
	margin:0;
}
.never_miss_ofr_field_wrap{
	height:35px;
	margin-top: 15px;
	width:100%;
	float:left;
}
.never_miss_ofr_field{
	background-color:#FFFFFF;
	color:#aaa9a9;
	float:left;
	font: 12px/35px 'Poppins', sans-serif;
	height:35px;
	width:440px;
	text-indent: 10px;
}
.never_miss_ofr_submit{
	background-color:#ff7430;
	color:#FFFFFF;
	float:left;
	font: 14px/38px 'Poppins', sans-serif;
	font-weight: 600;
	height:35px;
	width:94px;
}
.never_miss_ofr_submit:hover{
	background-color:#414141;
	    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}

footer{
	background-color:#4b5c64;
	height:auto;
	margin-top:80px;
	width:100%;
	float:left;
}
.footer_container{
	height:auto;
	margin:0 auto;
	width:1100px;
	overflow:hidden;
	max-width:90%;
}
.copyright_div{
	color:#99b7c5;
	float:left;
	font: 11px/18px 'Poppins', sans-serif;
	height:auto;
	width:auto;
	margin-top:10px;
}
.copyright_div span{
	color:#FFFFFF;
	font: 10px/18px 'Poppins', sans-serif;
	font-weight:600;
}
.copyright_div span:nth-child(1)
{
	margin-right:35px;
}
.copyright_div span a:hover
{
	color:#ff7430;
}
.footer_social_main{
	float:right;
	height:auto;
	width:auto;
	margin:10px 0 0 0;
}
.footer_social_main .social_icons
{
	color:#99b7c5;
	font-size:16px;
	padding:0 12px;
	
}
.footer_social_main .social_icons:hover
{
	color:#ff7430;
}

/*sign in start*/

.sign_in_main_container{

	float:left;
	height:auto;
	width:100%;
	
	-webkit-box-shadow: 0px -3px 10px -1px rgba(204,204,204,1);
	-moz-box-shadow: 0px -3px 10px -1px rgba(204,204,204,1);
	box-shadow: 0px -3px 10px -1px rgba(204,204,204,1);
}
.sign_in_left_main{
	background-color:#FFFFFF;
	float:left;
	height:auto;
	width:55%;
}
#forgot_password
{
	display:none;
}
.sign_in_left_container{
	height:auto;
	margin:0 auto;
	overflow:hidden;
	padding: 110px 0px 0px 0px;
	width:66%;
}

.sign_in_left_container h1{
	color:#444444;
	font: 24px/0px 'Poppins', sans-serif;
	font-weight:bold;
}
.sign_in_form_wrap{
	border-bottom:solid 1px #dedede;
	height:auto;
	padding-bottom:40px;
	position: relative;
    top: 5px;
	width:100%;
}
.sign_in_txt_field{
	background-color:#FFFFFF;
	border:solid 1px #dfdfdf;
	color:#a0a0a0;
	font: 13px/41px 'Poppins', sans-serif;
	height:40px;
	margin-top: 10px;
	text-indent: 10px;
	width:100%;
}
.sign_in_submit{
	background-color:#08AFE1;
	color:#FFFFFF;
	font: 18px/40px 'Poppins', sans-serif;
	font-weight: 500;
    letter-spacing: 3px;
	height:40px;
	margin-top: 20px;
	text-align:center;
	width:130px;
}
.sign_in_submit:hover{
	background-color:#414141;
	    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}

.sign_in_forgot_password{
	height:auto;
	margin-top:20px;
	width:100%;
}
.sign_in_forgot_password a{
	color:#4b5c64;
	font: 12px/20px 'Poppins', sans-serif;
	text-decoration:none;
}
.sign_in_forgot_password a:hover{
	color:#08AFE1;
	text-decoration:none;
}
.dont_have_ac_wrap{
	color:#525252;
	font: 16px/20px 'Poppins', sans-serif;
	font-weight:normal;
	height:auto;
	margin-top:40px;
	width:100%;
}
.dont_have_ac_wrap span{
	color:#08AFE1;
	font: 16px/20px 'Poppins', sans-serif;
	font-weight:500;
}
.dont_have_ac_wrap a{
	color:#08AFE1;
	font: 16px/20px 'Poppins', sans-serif;
	font-weight:500;
	text-decoration:none;
}
.dont_have_ac_wrap a:hover{
	color:#444444;
	text-decoration:none;
}
.sign_in_right_main{
	background-color:#08AFE1;
	float:right;
	height:auto;
	width:45%;
}
.sign_in_right_main_container{
	height:auto;
	margin:0 auto;
	padding: 200px 0px 200px 0px;
	width:67%;
	text-align:center;
}
.sign_in_right_main_container img{
	/*width:100%;*/
}

/*sign in end*/


/*vendor register start*/

.vendor_register_left_main{
	background-color:#FFFFFF;
	float:left;
	height:auto;
	width:800px;
}
.vendor_register_left_container{
	height:auto;
	margin-left: 125px;
	overflow:hidden;
	padding: 60px 0px 0px 0px;
	width:84%;
}
.change_password_container{
	padding: 60px 0px 200px 0px;
}

.vendor_register_left_container h1{
	color:#444444;
	font: 24px/0px 'Poppins', sans-serif;
	font-weight:bold;
}
.vendor_register_form_wrap{
	border-bottom:solid 1px #dedede;
	height:auto;
	padding-bottom:60px;
	position: relative;
    top: 5px;
	width:100%;
}
.change_password_border_none
{
	border-bottom:none;
}
.vendor_register_txt_field{
	border:solid 1px #dfdfdf;
	color:#a0a0a0;
	font: 13px/41px 'Poppins', sans-serif;
	height:40px;
	margin-top: 10px;
	text-indent: 10px;
	width:100%;
}
.vendor_register_txtarea{
	border:solid 1px #dfdfdf;
	color:#a0a0a0;
	font: 13px/41px 'Poppins', sans-serif;
	height:120px;
	margin-top: 10px;
	text-indent: 10px;
	width:100%;
}
.ngo_proof_attach_field{
	border:solid 1px #dfdfdf;
	color:#a0a0a0;
	font: 13px/41px 'Poppins', sans-serif;
	height:40px;
	margin-top: 10px;
	text-indent: 10px;
	width:200px;
}
.ngo_proof_attach_input_file
{
	margin-top:10px;
}

.already_have_ac_wrap{
	color:#525252;
	font: 16px/20px 'Poppins', sans-serif;
	font-weight:normal;
	height:auto;
	margin-top:40px;
	padding-bottom:150px;
	width:100%;
}
.already_have_ac_wrap a{
	color:#ff7430;
	font: 16px/20px 'Poppins', sans-serif;
	font-weight:500;
	text-decoration:none;
}
.already_have_ac_wrap a:hover{
	color:#444444;
	text-decoration:none;
}
.customer_register_form_wrap {
    border-bottom: solid 1px #dedede;
    height: auto;
    padding-bottom: 150px;
    position: relative;
    top: 5px;
    width: 100%;
}





/*vendor home page start*/

.vendor_home_banner_section{
	background-color:#c6c6c6;
	height:400px;
	position:relative;
	width:100%;
	float:left;
}

.vender_top_banner
{
	width:100%;
	height:412px;
	float:left;
	background:#c6c6c6;
	position:relative;
}
.vender_top_banner .vender_top_banner_inner {
    height: auto;
    margin: 0 auto;
     overflow: hidden; 
    width: 1100px;
    max-width: 90%;
}
.vender_top_banner .vendor-log {
    width: 280px;
    height: 100px;
    float: left;
    background: #fff;
    text-align: center;
    position: relative;
	margin-top:10px;
}
.vender_top_banner .vendor-log .vendor-log img {
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.vender_top_banner .upload_field_container
{
	width:115px;
	height:130px;
	overflow:hidden;
	margin:0 auto;
	background:url(../images/upload_icon.png) no-repeat top;
    position: absolute;
    left: 50%;
	top:145px;
    margin-left: -57px;
}
.vender_top_banner .upload_field_container.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.vender_top_banner .upload_field_container .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.vender_top_banner .upload_field_container .upload_btn
{
	width:111px;
	height:24px;
	overflow:hidden;
	margin:0 auto;
	position:relative;
	margin-top:96px;
    border-radius: 10px;
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    color: #ffffff;
	text-align:center;
    background-color: #8b8b8b;
	cursor:pointer;
}
.vendor_home_banner_overlay{
	width:100%;
	height:auto;
	position:absolute;
	z-index:9;
	top:168px;
	left:0;
	overflow:hidden;
}
.vendor_home_banner_container{
	height:auto;
	margin:0 auto;
	overflow:hidden;
	padding-bottom: 135px;
	width:1100px;
}

.vendor_company_logo{
	float:left;
	height:100px;
	margin-top:10px;
	width:280px;
}
.vendor_banner_upload_main_div{
	/*background-color: #598A20;*/
    height: 135px;
    margin-top: 130px;
    width: 135px;
    margin-left: 450px;
}
.vendor_product_list_head_wrap{
	float:left;
	height:auto;
	padding-bottom: 35px;
	width:100%;
}
.vendor_product_page_head{
	float:left;
	height:35px;
	width:auto;
	font: 14px/14px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
}
.vendor_search_wrapper
{
	width:79%;
	height:auto;
	float:right;
}
.vendor_listing_txt_field {
    background-color: #FFFFFF;
    border: solid 1px #dfdfdf;
	float:left;
    color: #a0a0a0;
    font: 12px/34px 'Poppins', sans-serif;
    height: 35px;
    text-indent: 10px;
    width: 28%;
}
.vendor_listing_select_field
{
	float:left;
    height: auto;
	margin-left: 1.3%;
    width: 28%;
	position:relative;
}
.vendor_listing_select_field:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #9d9d9d transparent transparent transparent;
    right: 15px;
    top: 15px;
    position: absolute;
    content: ' ';
}
.vendor_listing_select_field .select_box
{
	background-color: #FFFFFF;
    border: solid 1px #dfdfdf;
	float:left;
    color: #a0a0a0;
    font: 12px/34px 'Poppins', sans-serif;
    height: 35px;
    text-indent: 10px;
    width: 100%;
}
.vendor_listing_search_btn {
    background-color: #ff7430;
	float:right;
    color: #FFFFFF;
    font: 14px/35px 'Poppins', sans-serif;
    font-weight: 500;
    height: 35px;
    text-align: center;
    width: 12%;
}
.vendor_listing_search_btn:hover{
	background-color:#414141;
	    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}

.vendor_product_list_container {
	border-bottom:solid 1px #c9ced0;
    width: 100%;
    height: auto;
    float: left;
    position: relative;
	padding-bottom: 20px;
}
.vendor_product_list_wrap_main {
    width: 22%;
    height: auto;
    float: left;
    position: relative;
    border: 1px solid #ccc;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    padding: 0 0 0px 0;
    margin: 0 0 40px 4%;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(1)
{
	margin-left:0;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(4n+1)
{
	margin-left:0;
}
.vendor_product_list_wrap_main:hover {
    border: 1px solid #ffd8c5;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 30px 1px rgba(232,232,232,1);
    box-shadow: 0px 0px 30px 1px rgba(232,232,232,1);
}


.vendor_product_list_wrap_main:hover .vendor_update_product_btn {
    background: #ff7430;
}
.vendor_product_list_img {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}
.vendor_product_list_img img {
    width: 100%;
}
.vendor_product_list_detail_row {
	border-bottom:solid 1px #c9ced0;
	float: left;
	color: #4b5c64;
    font: 12px/35px 'Poppins', sans-serif;
    font-weight: 500;
	height:auto;
	text-indent:10px;
    width: 100%;
}
.vendor_product_list_detail_row_left{
	float: left;
	color: #4b5c64;
    font: 12px/35px 'Poppins', sans-serif;
    font-weight: 500;
	height:auto;
	text-indent:10px;
    width: auto;
}
.vendor_product_list_detail_row_right{
	float: right;
	color: #4b5c64;
    font: 12px/35px 'Poppins', sans-serif;
    font-weight: 500;
	height:35px;
	text-align: center;
	text-indent: 0px;
    padding: 0px 15px 0px 15px;
    width: auto;
}
.vendor_product_list_detail_row_right_field{
	border: solid 1px #c9ced0;
    float: right;
    color: #4b5c64;
    font: 12px/23px 'Poppins', sans-serif;
    font-weight: 500;
    height: 22px;
    text-align: center;
    margin: 5px 10px 0px 0px;
    width: 60px;
    text-indent: 0px;
}
.vendor_product_list_detail_row_checkbox_right{
    float: right;
    color: #4b5c64;
    font: 12px/25px 'Poppins', sans-serif;
    font-weight: 500;
    height: auto;
    text-align: center;
    margin: 5px 5px 0px 0px;
    width: auto;
    text-indent: 0px;
}
.vendor_product_list_detail_row_checkbox_right span{
    color: #589b17;
}
.vendor_product_list_detail_row:last-child{
	height: 45px;
    text-indent: 0;
    text-align: center;
    padding-top: 5px;
	border-bottom:none;
}
.vendor_update_product_btn{
    width: 120px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    background: #8b8b8b;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
}
.vendor_update_product_btn:hover
{
	background:#ff7430;
}
.vendor_add_new_product_container{
	float:left;
	height:auto;
	width:100%;
	max-width:550px;
}
.vendor_add_new_product_container_form_wrap {
    height: auto;
    padding-bottom: 60px;
    position: relative;
    top: 5px;
    width: 100%;
}
.vendor_add_new_product_container h1{
	font: 14px/14px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
	padding-top: 40px;
}
.vendor_submit_product {
    background-color: #ff7430;
    color: #FFFFFF;
    font: 14px/40px 'Poppins', sans-serif;
    font-weight: 500;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    width: 150px;
}
.vendor_submit_product:hover{
    background-color:#414141;
	    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}

/*vendor home page end*/


/*block history start*/

.block_history_main_container{
	height:auto;
	overflow: hidden;
	width:100%;
}
.block_history_main_container h1{
    font: 14px/14px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
	padding: 25px 0px 10px 0px;
	width: auto;
    float: left;
}
.block_history_wrap_main{
	border: solid 1px #c9ced0;
	float:left;
	height:auto;
	margin-bottom: 30px;
	width:100%;
}
.block_history_order_id_wrap{
	border-bottom: solid 1px #c9ced0;
	float:left;
	height:auto;
	width:100%;
}
.block_history_order_id_wrap_left{
	float:left;
	height:auto;
	padding: 12px 0px 12px 0px;
    text-indent: 20px;
	width:auto;
}
.block_history_order_id_wrap_left h1{
	font: 12px/10px 'Poppins', sans-serif;
    color: #414141;
    font-weight: 500;
	padding: 0px 0px 0px 0px;
	 width:100%;
}
.block_history_order_id_wrap_left h1 span{
	color: #289407;
}
.block_history_order_id_wrap_left p{
	font: 12px/10px 'Poppins', sans-serif;
    color: #757575;
    font-weight: 500;
}
.block_history_order_id_wrap_right{
	float:right;
	height:auto;
	padding: 32px 20px 0px 0px;
	width:auto;
	font: 12px/0px 'Poppins', sans-serif;
    color: #434343;
    font-weight: 500;
}
.block_history_order_id_wrap_right span{
    color: #289407;
}
.block_history_content_wrap{
	float:left;
	height:auto;
	padding: 20px 0px 20px 0px;
	width:100%;
}
.block_history_content_right_main{
	float:left;
	height:auto;
	margin-left: 20px;
	width:auto;
}
.block_history_content_img{
	border: solid 1px #c9ced0;
	float:left;
	height:auto;
	width:160px;
}
.block_history_content_img img{
	width:100%;
}
.block_history_content_wrap_2{
	float:left;
    height:auto;
    margin-left:40px;
    width:325px;
}
.block_history_content_wrap_2 h1{
	font: 14px/14px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}

.block_history_content_wrap_2 .item_category{
	width:100%;
	height:auto;
	float:left;
	font: 12px/18px 'Poppins', sans-serif;
    color: #434343;
    font-weight: 500;
    margin:5px 0 10px 0;
}
.block_history_content_wrap_2 .item_category .green{
    color: #289407;
}
.block_history_content_wrap_2 .item_category .orange{
    color: #ff7430;
}
.block_history_content_wrap_2 .price_container{
	width:190px;
	height:auto;
	float:left;
	
}
.block_history_content_wrap_2 .price_container.first
{
	border-right:1px solid #d5d5d5;
	margin-right:5%;
}
.block_history_content_wrap_2 .price_container .price{
	width:100%;
	height:auto;
	float:left;
	font: 16px/20px 'Roboto', sans-serif;
    color: #ff7430;
    font-weight: 500;
	margin:0 0 10px 0;
}
.block_history_content_wrap_2 .link_container{
	width:100%;
	height:auto;
	float:left;
	font: 12px/18px 'Poppins', sans-serif;
    color: #434343;
    font-weight: 500;	
}
.block_history_content_wrap_2 .link_container a:hover{
	color: #ff7430;
}
.block_history_content_wrap_2 .link_container .divider{
	margin:0 8px;
}
.block_history_content_wrap_2_view
{
	width:70%;
}

.block_history_content_wrap_2 .price_container .change_price_container{
    width: 100%;
	height:auto;
	float:left;
	margin:10px 0 0 0;
	display:none;
}

.block_history_content_wrap_2 .price_container .change_price_container .input_field{
    border: solid 1px #dfdfdf;
    color: #a0a0a0;
	font-size:13px;
    font-family:'Poppins', sans-serif;
    height: 30px;
    text-indent: 10px;
    width: 100px;
	float: left;
}
.block_history_content_wrap_2 .price_container .change_price_container .submit_btn{
    width: 70px;
    height: 30px;
    overflow: hidden;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: #ff7430;
    cursor: pointer;
}
.block_history_offer_qty_wrap{
	float:left;
	height:30px;
	margin-top:30px;
	width:100%;
}
.block_history_offer_div{
	border-right: solid 1px #c9ced0;
	float:left;
	height:30px;
	width:90px;
	font: 14px/30px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
}
.block_history_offer_div span{
	background-color:#b1a148;
	font: 12px/30px 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
	padding: 5px 5px 5px 5px;
    border-radius: 3px;
}
.block_history_price_div{
	float:left;
	height:30px;
	font: 14px/30px 'Poppins', sans-serif;
    color: #ff7430;
    font-weight: 500;
    padding: 0px 15px 0px 15px;
}
.block_history_qty_div{
	float:right;
	height:30px;
	width:auto;
	font: 14px/30px 'Poppins', sans-serif;
    color: #414141;
    font-weight: 500;
    padding: 0px 15px 0px 15px;
}
.block_history_qty_div span{
    color: #ff7430;
}
.block_history_receive_btn{
    background-color: #ff7430;
	border-radius:4px;
	float:left;
    height: 40px;
	margin-top: 40px;
    width: 140px;
	font: 14px/40px 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
	text-align:center;
}
.block_history_receive_btn:hover{
    background-color:#414141;
	   transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}

.block_history_rate_it_div {
	border-left: solid 1px #c9ced0;
    float: right;
    height: auto;
    margin-right: 20px;
	padding: 50px 50px 50px 50px;
    width: auto;
	font: 12px/30px 'Poppins', sans-serif;
    color: #414141;
    font-weight: 500;
}
.block_history_rate_star_div{
    height: auto;
    width: 65px;
}
.block_history_status_wrap{
	border-top: solid 1px #c9ced0;
	float:left;
    height: auto;
    width: 100%;
	
}
.block_history_status_wrap span{
    color: #289407;
}
.block_history_status_wrap .expiry_date
{
	width:auto;
	height:auto;
	float:left;
	font: 12px/40px 'Poppins', sans-serif;
    color: #414141;
    font-weight: 500;
	padding: 0px 0px 0px 0px;
	text-indent:20px;
}
.block_history_status_wrap .subscribe-btn {
    width: 90px;
    height: 30px;
    overflow: hidden;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: #ff7430;
    cursor: pointer;
	border-radius:5px;
	margin:5px 0 0 3%;
}
.block_history_status_wrap .subscribe-btn a
{
	width:100%;
	height:100%;
	display:inline-block;
}

.block_history_status_wrap .shop_name
{
	width:auto;
	height:auto;
	float:right;
	font: 12px/40px 'Poppins', sans-serif;
    color: #414141;
    font-weight: 500;
	padding: 0px 2% 0px 0px;
}
/*block history end*/

/*history*/
.history_container{
	height:auto;
	float:left;
	width:100%;
}
/*history end*/

/*add new offer*/
.offer-pop-up{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index:9999;
  overflow-y:scroll;
}
.offer-pop-up.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.offer-pop-up-container {
	position: relative;
	width: 100%;
	max-width:860px;
	height: auto;
	margin: 4em auto;
	background: #ffffff ;
	overflow:hidden;
	border-radius:3px;
}
.offer-pop-up-container .head{
    width: 100%;
    height: auto;
    float: left;
   	background:#ff7430;
	padding:12px 25px;
}
.offer-pop-up-container .head .text{
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight:500;
    color: #ffffff;
	text-transform:uppercase;
}
.offer-pop-up-container .head .text .fa-tags
{
	margin-right:8px;
}
.offer-pop-up-container .add-offer-from{
    width: 100%;
    height: auto;
    float: left;
	padding:20px 15px 5px 15px;
}
.offer-pop-up-container .add-offer-from .field-wrapper{
    width: 100%;
    height: auto;
    float: left;
	margin:0 0 17px 0;
}
.offer-pop-up-container .add-offer-from .field-wrapper .label{
    width: 200px;
    height: auto;
    float: left;
	font: 12px/30px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
	text-align:right;
	padding:0 30px 0 0;
}
.offer-pop-up-container .add-offer-from .field-wrapper .label1{
    width: 200px;
    height: auto;
    float: left;
	font: 14px/35px 'Poppins', sans-serif;
    color: #6b6b6b;
    text-transform: none;
    font-weight: 500;
	text-align:right;
	padding:0 30px 0 0;
}
.offer-pop-up-container .add-offer-from .field-wrapper .label b
{
	font-weight:600;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content{
    width: 620px;
    height: auto;
    float: left;
	font: 14px/35px 'Poppins', sans-serif;
    color: #6b6b6b;
    font-weight: 500;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .price{
	font: 12px/30px 'Poppins', sans-serif;
    color: #ff7430;
    font-weight: 600;
	float: left;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content span{
	float:left;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .input-field-1{
    border: solid 1px #dbdbdb;
    color: #6b6b6b;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    text-indent: 10px;
    width: 320px;
    float: left;
	margin:0 10px 0 10px;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .input-field-2{
    border: solid 1px #dbdbdb;
    color: #6b6b6b;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    text-indent: 10px;
    width: 150px;
    float: left;
	margin:0 10px 0 25px;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .label3{
	font: 12px/30px 'Poppins', sans-serif;
    color: #ff7430;
    font-weight: 500;
	float: left;
	width:60%;
	text-align:center;
	margin:5px 0 0 0;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .input-field-3{
    border: solid 1px #dbdbdb;
    color: #6b6b6b;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    text-indent: 10px;
    width: 140px;
    float: left;
	margin:0 10px 0 0;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .radio-field-container{
   
    color: #6b6b6b;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 120px;
    float: left;
	margin:0 0 0 10px;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .radio-field-container .radio-field{
	margin:6px 12px 0 0;
	float:left;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .radio-field-container label{
	float:left;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .select-field-container{ 
	border: solid 1px #dbdbdb;
    color: #6b6b6b;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    width: 135px;
    float: left;
	position:relative;
	
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .select-field-container:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #9d9d9d transparent transparent transparent;
    right: 15px;
    top: 15px;
    position: absolute;
    content: ' ';
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .select-field-container select{
	width:100%;
	text-indent:10px;
}

.offer-pop-up-container .add-offer-from .field-wrapper .field-content .input-field-1.no-margin{
	margin:00;
}
.offer-pop-up-container .add-offer-from .field-wrapper .submit-btn {
    width: 90px;
    height: 30px;
    overflow: hidden;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 32px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: #ff7430;
    cursor: pointer;
    border-radius: 5px;
}
/*add new offer end*/

/*view review start*/

.view_review_main_container{
	height:auto;
	overflow: hidden;
	width:100%;
}
.view_review_main_container h1{
    font: 14px/14px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
	padding: 25px 0px 10px 0px;
	width:auto;
	float:left;
}
.view_review_section_wrap{
	height:auto;
	margin: 10px 0px 30px 0px;
	float:left;
	padding: 0px 0px 0px 10px;
	width:100%;
}

.view_review_section_contain{
	border: solid 1px #c9ced0;
	float:right;
	height:auto;
	padding: 0px 0px 35px 0px;
	width:95%;
}
.review_head_circle{
	background-color:#ff7430;
	border-radius:100%;
	float:left;
	height:80px;
	margin: 70px 0px 0px -40px;
	width:80px;
	font: 36px/80px 'Poppins', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
	text-align:center;
}
.view_review_name_date_wrap{
	float:left;
	height:auto;
	padding-top: 15px;
	padding-left: 30px;
	width:94%;
}
.view_review_name_date_wrap_left{
	float:left;
	height:auto;
	width:auto;
}
.view_review_name_date_wrap_left h1{
	font: 14px/14px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
	padding: 0px 0px 0px 0px;
}
.view_review_name_review_rating_div{
	height:auto;
	width:auto;
}
.view_review_div{
	border-right: solid 1px #9a9a9a;
	float:left;
	height:25px;
	width:auto;
	font: 12px/25px 'Poppins', sans-serif;
    color: #9a9a9a;
    font-weight: 500;
	padding: 0px 20px 0px 0px;
}
.view_review_rating_div{
	float:left;
	height:25px;
	padding: 0px 0px 0px 20px;
	width:auto;
}
.view_review_name_date_wrap_right{
	float:right;
	height:auto;
	width:auto;
	font: 12px/30px 'Poppins', sans-serif;
    color: #34a60c;
    font-weight: 500;
	padding: 0px 30px 0px 0px;
}
.view_review_content{
	float:left;
	height:auto;
	width:94%;
	font: 12px/20px 'Poppins', sans-serif;
    	color: #757575;
    	font-weight: 500;
	padding: 25px 20px 0px 30px;
}


.payment_gateway_icons_main_wrap{
	float:left;
	height:auto;
	margin-top: 30px;
	width:100%;
}
.payment_icons_1{
	border: solid 1px #c9ced0;
	float:left;
	height:auto;
	width:45%;
}
.payment_icons_1:hover{
	border: 1px solid #ffd8c5;
    -webkit-box-shadow: 0px 0px 30px 1px rgba(232,232,232,1);
    -moz-box-shadow: 0px 0px 30px 1px rgba(232,232,232,1);
    box-shadow: 0px 0px 30px 1px rgba(232,232,232,1);
}

.payment_icons_1 img{
	width:100%;
	height:100%;
}

.payment_or_div{
	background-color:#FFFFFF;
	border: solid 1px #797979;
	border-radius:100%;
	float:left;
	height:45px;
	margin: 7% 30px 0px 30px;
	width:45px;
}
.payment_or_inner{
	background-color:#797979;
	border-radius:100%;
	height:37px;
	margin: 3px;
	width:37px;
	font: 14px/37px 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
	text-align:center;
}





/*view review end*/




/*--------------lib end--------------*/

/*---------------product page---------------*/

.vender-details
{
	width:98%;
	height:auto;
	float:right;
	border:1px solid #e8e8e8;
	background:#f1f1f1;
	position: relative;
	padding:20px 0;
	margin:35px 0 40px 0;
}

.vender-details .vendor-log
{
	width:249px;
	height:110px;
	float:left;
	border:1px solid #e3e3e3;
	background:#fff;
	text-align:center;
	position: relative;
    left: -2%;
}
.vender-details .vendor-log img
{
	max-width:100%;
	position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.vender-details .vender-address
{
	width:auto;
	height:auto;
	float:left;
	font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 18px;
	font-weight:500;
    color: #737272;	
	padding-left:2%;
	margin-top:10px;
}

.vender-details .right-sec
{
	width:auto;
	height:auto;
	float:right;
	font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 18px;
	font-weight:500;
    color: #737272;	
	margin:10px 32px 0 0;
}
.vender-details .right-sec span
{
	margin:0 15px;
}
.vender-details .right-sec a
{
	color:inherit;
}
.vender-details .right-sec a:hover
{
	color:#ff7430;
}


.vender_details_sort_wrap_main
{
	width:auto;
	height:auto;
	float:right;
	font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 18px;
	font-weight:500;
    color: #737272;	
	margin:50px 32px 0 0;
}
.vender_details_sort_wrap_main ul{
	margin:0;
	padding:0;
}
.vender_details_sort_wrap_main ul li{
	float:left;
	line-height:20px;
	list-style:none;
}
.vender_details_sort_wrap_main ul li a{
	font-family:'Poppins', sans-serif;
	font-size:12px;
	font-weight:500;
    color: #737272;
	text-decoration:none;
	padding: 0px 15px 0px 15px;
}
.vender_details_sort_wrap_main ul li a span{
	font-family:'Poppins', sans-serif;
	font-size:12px;
	font-weight:500;
    color: #737272;
}

.vender_details_sort_wrap_main ul li:nth-child(5) a{
	padding: 0px 0px 0px 15px;
}

.vender_details_sort_wrap_main ul li a:hover{
    color: #ff7430;
	text-decoration:none;
}

.product-list-container
{
	width:100%;
	height:auto;
	float:left;
	position:relative;
}

.product-list-container .product-item
{
	width:22%;
	height:auto;
	float:left;
	position:relative;
	    border: 1px solid #ccc;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
	padding:0 0 25px 0;
	margin:0 0 40px 4%;
}
.product-item_opacity{
	opacity:0.6;
}
.product-list-container .product-item:nth-child(1)
{
	margin-left:0;
}
.product-list-container .product-item:nth-child(4n+1)
{
	margin-left:0;
}
.product-list-container .product-item:hover {
    border: 1px solid #ffd8c5;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
-moz-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
}
.product-list-container .product-item_2:hover {
    border: 1px solid #ffd8c5;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
-moz-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
}


.product-item .view-detail-link
{
    width: 120px;
    height: auto;
    position:absolute;
	bottom:-10px;
	left:50%;
	margin-left:-60px;
    font-family: 'Roboto', sans-serif;
	font-size:11px;
	line-height: 21px;
	font-weight:500;
    color: #ffffff;
    text-align: center;
	text-transform:uppercase;
	background:#8b8b8b;
	border-radius:8px;
	transition:0.2s ease-in-out;
	-webkit-transition:0.2s ease-in-out;
	-moz-transition:0.2s ease-in-out;
	-o-transition:0.2s ease-in-out;
	-ms-transition:0.2s ease-in-out;
}
.product-item:hover:hover .view-detail-link
{
	background:#ff7430;
}

.product-item .img-container
{
	width:100%;
	height:auto;
	float:left;
	position:relative;
}


.product-item .img-container img
{
	width:100%;

}


.product-item .offer-tag
{
	width:45px;
	height:57px;
	position:absolute;
	background:url(../images/offer-tag.png) no-repeat center;
	top:-2px;
	left:8px;
	z-index:1;	
	font-family:'Poppins', sans-serif;
	font-size:13px;
	line-height: 48px;
    font-weight: 500;
    color: #ffffff;
    text-indent: 10px; 
}
.product-item .offer-tag-expired
{
	width:43px;
	height:54px;
	position:absolute;
	background:url(../images/offer-tag1.png) no-repeat center;
	top:-1px;
	left:8px;
	z-index:1;	
	font-family:'Poppins', sans-serif;
	font-size:13px;
	line-height: 48px;
    font-weight: 500;
    color: #ffffff;
    text-indent: 10px; 
}


.product-item .time-tag
{
	width:82px;
	height:31px;
	position:relative;
	float:left;
	background:url(../images/price-tag.png) no-repeat center;
	top:-2px;
	left:-4px;
	z-index:1;	
	font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 26px;
    font-weight: 500;
    color: #ffffff;
    text-indent: 10px; 
}
.product-item .time-tag-expired
{
	width:185px;
	height:33px;
	position:relative;
	float:left;
	background:url(../images/expired-tag.png) no-repeat center;
	top:-2px;
	left:-7px;
	z-index:1;	
	font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 28px;
    font-weight: 500;
    color: #ffffff;
	text-align:center;
}

.product-item .product-name {
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #888888;
    text-transform: uppercase;
    padding: 10px 0px 6px 15px;
    margin: 8px 0 4px 0;
    border-bottom: solid 1px #c9ced0;
    border-top: solid 1px #c9ced0;
}


.product-item .product-name a
{
	color:inherit;
}


.product-item .product-price {
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 500;
    color: #ff7430;
    text-transform: uppercase;
    padding: 5px 0px 5px 15px;
    margin-bottom: 2px;
    border-bottom: solid 1px #c9ced0;
}


.product-item .product-price span
{
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	color: #8b8b8b;
	text-decoration:line-through;
	margin-right:5px;
}

.product-item .product-qty {
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 34px;
    font-weight: 400;
    color: #8b8b8b;
    padding: 0 0px 0 15px;
    margin-bottom: 14px;
    border-bottom: solid 1px #c9ced0;
}
.product-item .product-qty .qty_txt {
    width: auto;
    height: auto;
    float: left;
}
.product-item .product-qty .qty_number
{
    width: 40px;
    height: 34px;
    float: left;
    font-family:'Poppins', sans-serif;
	font-size:12px;
	line-height: 34px;
	font-weight:500;
    color: #757575;
	position:relative;
}

.product-item .product-qty .qty_number:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #9d9d9d transparent transparent transparent;
    right: 0;
    top: 13px;
    position: absolute;
    content: ' ';
	z-index:0;
}

.product-item .block
{
    width: 25px;
    height: 25px;
    float: left;
	background:url(../images/block-icon.png) no-repeat center;
    /*font-family:'Poppins', sans-serif;
	font-size:20px;
	line-height: 25px;
	font-weight:500;
    color: #888888;
    text-align: center;*/
	margin-left:12px;
	margin-right:10px;
}
.product-item .block a,.product-item .call a
{
	width:100%;
	height:100%;
	display:inline-block;
}

.product-item .call
{
    width: 25px;
    height: 25px;
    float: left;
	background:url(../images/call-icon.png) no-repeat center;
    /*font-family:'Poppins', sans-serif;
	font-size:20px;
	line-height: 25px;
	font-weight:500;
    color: #888888;
    text-align: center;*/
}
/*---------------product page end---------------*/


/*-----------------product-detail-----------------------*/
.product-detail-container
{
	width:100%;
	height:auto;
	float:left;
	position:relative;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
	padding:20px;
	margin:30px 0;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
	-moz-box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
	box-shadow: 0px 0px 5px 1px rgba(173,173,173,0.5);
}

.product-detail-container .left-container{
	width: 46%;
    height: auto;
    float: left;
}

.product-detail-container .left-container .img-container {
    width: 100%;
    height: auto;
    float: left;
    position: relative;
	border: 1px solid #d8d8d8;
	padding-right:1px;
}
.product-detail-container .left-container .img-container img
{
	width:100%;
}
.product-detail-container .left-container .tumb-container{
	width: 100%;
    height: auto;
    float: left;
	margin:20px 0 0 0;
}
.product-detail-container .left-container .tumb-container .tumb-item{
	width: 30%;
    height: auto;
    float: left;
	border: 1px solid #d8d8d8;
	margin-left:5%;
}
.product-detail-container .left-container .tumb-container .tumb-item:nth-child(1){
	margin-left:0;
}
.product-detail-container .left-container .tumb-container .tumb-item img
{
	width:100%;
}


.product-detail-container .detail-container {
    width: 48%;
    height: auto;
    float: right;
    position: relative;
}

.product-detail-container .detail-container .discription{
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    color: #9c9c9c;
	margin:10px 0 30px 0;
	text-align:justify;
}
.product-detail-container .detail-container .store{
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #596f83;
	margin:0 0 20px 0;
}
.product-detail-container .detail-container .store .color1
{
	color: #ff7430;
}
.product-detail-container .detail-container .store .select-box
{
	position:relative;
	width:100%;
}
.product-detail-container .detail-container .store select
{
	width:40px;
	padding-right: 10px;
	z-index:1;
	position:relative;
	
}
.product-detail-container .detail-container .store .select-box:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #9d9d9d transparent transparent transparent;
    right: 6px;
    top: 8px;
    position: absolute;
    content: ' ';
    z-index: 0;
}
.product-detail-container .detail-container .store .price-cut
{
	color: #929292;
	text-decoration:line-through;
	margin:0 10px 0 0;
}

.product-detail-container .detail-container .store.store-icon:before {
    float: left;
    width: 22px;
    height: 18px;
    content: "";
    background: url(../images/store-icon01.png) no-repeat center;
    margin: -1px 20px 0 0;
}
.product-detail-container .detail-container .store.price-icon
{
	    margin: 0 0 10px 0;
}
.product-detail-container .detail-container .store.price-icon:before {
    float: left;
    width: 22px;
    height: 16px;
    content: "";
    background: url(../images/priceicon01.png) no-repeat center;
    margin: 0px 20px 0 0;
}
.product-detail-container .detail-container .store.qty-icon:before {
    float: left;
    width: 22px;
    height: 19px;
    content: "";
    background: url(../images/qty01.png) no-repeat center;
    margin: 7px 20px 0 0;
}
.product-detail-container .detail-container .qty_txt
{
    width: auto;
    height: auto;
    float: left;
    line-height: 34px;
}
.product-detail-container .detail-container .qty_number
{
    width: auto;
    height: 34px;
    float: left;
    font-family:'Poppins', sans-serif;
	font-size:14px;
	line-height: 34px;
	font-weight:500;
    color: #596f83;
	position:relative;
}
.product-detail-container .detail-container .qty_number .selectBox
{
	color: #596f83 ;
}
.product-detail-container .detail-container .qty_number:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    border-color: #9d9d9d transparent transparent transparent;
    right: 0;
    top: 13px;
    position: absolute;
    content: ' ';
    z-index: 0;
}
.product-detail-container .detail-container .clear1
{
	width:100%;
	height:auto;
	float:left;
	margin-bottom:5px;
}

.product-detail-container .detail-container .block-btn {
    width: 143px;
    height: 35px;
    overflow: hidden;
    float: left;
    margin: 10px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height:35px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: #ff7430;
    cursor: pointer;
}
.product-detail-container .detail-container .block-btn a
{
	width:100%;
	height:100%;
	display:inline-block;
}
.product-detail-container .detail-container .call-text {
    width: 135px;
    height: 35px;
    overflow: hidden;
    float: left;
    margin: 10px 0 0 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height:37px;
    color: #808080;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.product-detail-container .detail-container .call-btn {
    width: 143px;
    height: 35px;
    overflow: hidden;
    float: left;
    margin: 10px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height:37px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background: #4b9e0f;
    cursor: pointer;
}

/*-----------------product-detail end-----------------------*/

/*-----------------Subscribe-----------------------*/
.subscribe-container
{
	width:765px;
	height:auto;
	overflow:hidden;
	margin:0 auto;
	position:relative;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
	padding:10px 20px;
}
.subscribe-title
{
    font: 14px/14px 'Poppins', sans-serif;
    color: #4f4f4f;
    font-weight: 500;
	text-transform:uppercase;
    margin:35px 0 0 41%;
}
.subscribe-container .pakage-container
{
	width:343px;
	height:auto;
	float:left;
	padding:0 0 50px 0;
	position:relative;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
	margin:30px 0;
	border: 1px solid #ededed;
}
.subscribe-container .pakage-container:nth-child(2)
{
	margin-left:35px;
}
.subscribe-container .pakage-container:hover
{
    -webkit-box-shadow: 0px 0px 24px 1px rgba(233,233,233,1);
    -moz-box-shadow: 0px 0px 24px 1px rgba(233,233,233,1);
    box-shadow: 0px 0px 24px 1px rgba(233,233,233,1);
}

.subscribe-container .pakage-container .name
{
	width:100%;
	height:auto;
	float:left;
	padding:38px 0;	
	background:#c8bb51;
	font: 40px/40px 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 600;
	text-transform:uppercase;
	text-align:center;
	border-bottom: solid 5px #B79311;
}
.subscribe-container .pakage-container .pakage-row
{
	width:100%;
	height:auto;
	float:left;
}
.subscribe-container .pakage-container .pakage-row .pakage-column
{
	width:50%;
	height:auto;
	float:left;
	background:#dedede;
	border-left:solid 1px #FFFFFF;
	padding:12px 0;
	font: 33px/33px 'Poppins', sans-serif;
    color: #4b5d65;
    font-weight: 600;
	text-transform:uppercase;
	text-align:center;
	margin:0 0 1px 0;
	position:relative;
}
.subscribe-container .pakage-container .pakage-row .pakage-column:nth-child(1)
{
	background:#dedede;
	font: 18px/33px 'Poppins', sans-serif;
	color: #4b5d65;
	font-weight: 600;
	text-transform:capitalize;
	border-left:none;
}


.days-checkbox-btn:before {
    content:"";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 2px;
    position: absolute;
    left: 22px;
    top: 20px;
	border:1px solid #4b5d65;
	font-size: 10px;
    color: #4b5d65;
    text-align: center;
    line-height: 14px;
    
}

.days-checkbox:checked + .days-checkbox-btn:before {
    content:"\2713";
   
}

.days-checkbox
{
	display:none;
}
.subscribe-container .pakage-container .pakage-detail
{
	width:100%;
	height:auto;
	float:left;
	margin:25px 0;
}

.subscribe-container .pakage-container .pakage-detail .pakage-detail-item
{
	width:100%;
	height:auto;
	float:left;
	padding:14px 0;
	border-bottom: 1px solid #ededed;
	font: 16px/16px 'Poppins', sans-serif;
    color: #858585;
    font-weight:400;
	text-align:center;
}
.subscribe-container .pakage-container .pakage-detail .pakage-detail-item:last-child
{
	border-bottom:none;
}

.subscribe-container .pakage-container .subscribe-btn {
    background-color: #c8bb51;
    border-radius: 4px;
    overflow:hidden;
    height: 37px;
    width: 142px;
    font: 16px/39px 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
	text-transform:uppercase;
	margin:0 auto;
	cursor:pointer;
	transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
}
.subscribe-container .pakage-container .subscribe-btn:hover
{
	    background: #414141;
}
.subscribe-container .pakage-container .orange
{
	background: #ff7430;
}



/*my shops start*/

.my_shops_product_detail_wrap_1{
	border-bottom: solid 1px #c9ced0;
	float:left;
	height:auto;
	width:100%;
}
.my_shops_product_detail_wrap_sub{
	border-right: solid 1px #c9ced0;
	float:left;
	height:auto;
	padding: 10px 0px 10px 0px;
	width:20%;
	text-align:center;
}
.my_shops_product_detail_wrap_sub:last-child{
	border-right:none;
}

.my_shops_product_detail_wrap_sub span{
    color: #289407;
}
.my_shops_product_detail_wrap_sub a{
	font: 12px/10px 'Poppins', sans-serif;
    color: #757575;
    font-weight: 500;
	text-decoration:none;
}
.my_shops_product_detail_wrap_sub a:hover{
    color: #ff7430;
	text-decoration:none;
}
.my_shops_content_wrap {
    float: left;
    height: auto;
    padding: 30px 0px 30px 0px;
    width: 100%;
}
.my_shops_content_right_main {
    float: left;
    height: auto;
    margin-left: 20px;
    width: auto;
}
.my_shops_logo_div {
    border: solid 1px #c9ced0;
    float: left;
    height: auto;
    width: auto;
}
.my_shops_logo_div img {
    width: 100%;
}

.my_shops_address_section {
    float: left;
    height: auto;
    margin-left: 40px;
    width: auto;
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: #414141;
}
.my_shops_rate_it_div {
    border-left: solid 1px #c9ced0;
    float: right;
    height: auto;
    margin-right: 20px;
    padding: 25px 50px 20px 50px;
    width: auto;
    font: 12px/30px 'Poppins', sans-serif;
    color: #414141;
    font-weight: 500;
}
/*my shops end*/

.banner_slider_txt_main_wrap{
	height:auto;
	padding-top: 135px;
	position:absolute;
	width:100%;
}
.banner_slider_txt_container{
	height:auto;
	margin:0 auto;
	width:1100px;
	max-width:90%;
}
.banner_slider_txt_container h1{
	font: 30px/30px 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
	letter-spacing: 1px;
	text-align:right;
	padding:0px 0px 0px 0px;
}
.banner_slider_txt_container p{
	font: 16px/24px 'Poppins', sans-serif;
    color: #FFFFFF;
	text-align:right;
}
.banner_slider_txt_container span{
	background-color:#0061b3;
	float:right; 
	height:40px;
	margin:0 auto;
	margin-top: 20px;
	width:auto;
}
.banner_slider_txt_container a{
	font: 14px/40px 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.nav_fixed_wrap{
	background-color:#FFFFFF;
	width:100%;
	position:fixed;
	left:0;
	top:-60px;
	height:55px;
	z-index:999;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 1px 5px 0px rgba(204,204,204,1);
	box-shadow: 0px 1px 5px 0px rgba(204,204,204,1);
	transition: 0.5s ease-in-out;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
-o-transition: 0.5s ease-in-out;
-ms-transition: 0.5s ease-in-out;
}
.nav_fixed_wrap_show {
top: 0;
}
.nav_fixed_container{
	width:1100px;
	max-width:90%;
	height:55px;
	margin:0 auto;
}
.nav_fixed_logo{
	float:left;
	width:auto;
	height:auto;
}
.nav_fixed_logo img{
	width: 100%;
    margin-top: 17px;
}
.nav_fixed_search_wrap{
	float:right;
	width:520px;
	margin: 6px 0px 0px 0px;
	/*height:32px;*/
}
.nav_fixed_search{
    background-color: #FFFFFF;
    border: solid 1px #dfdfdf;
	float:left;
    color: #a0a0a0;
    font: 12px/33px 'Poppins', sans-serif;
    /*height: 32px;
    text-indent: 10px;*/
    width: 430px;
}
.nav_fixed_search .searchform {
    padding:0 !important;
	width: 100% !important;
}
.nav_fixed_search .searchform .field_wrapper{
	width: 100% !important;
    margin-right: 0 !important;
}
.nav_fixed_submit{
    background-color: #ff7430;
    color: #FFFFFF;
    float: left;
    font: 14px/32px 'Poppins', sans-serif;
    font-weight: 600;
    height: 42px;
	text-align:center;
    width: 90px;
}
.nav_fixed_submit:hover {
    background-color: #414141;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}


/*FAQ start*/

.faq_main_container{
	float:left;
	height:auto;
	width:100%;
}
.faq_main_container h1{
	font: 14px/14px 'Poppins', sans-serif;
    color: #414141;
    text-transform: uppercase;
    font-weight: 500;
    padding: 25px 0px 0px 0px;
    width: auto;
    float: left;
}
.faq_detail_container{
	float:left;
	height:auto;
	margin-top: 25px;
	width:100%;
}
.faq_detail_container h3{
    font: 14px/18px 'Poppins', sans-serif;
    color: #8f3f18;
    font-weight: 500;
	padding: 0px 0px 0px 0px;
}

.faq_detail_container h2{
    font: 14px/18px 'Poppins', sans-serif;
    color: #4f4f4f;
    font-weight: 500;
	padding: 0px 0px 0px 0px;
}
.faq_detail_container h2:hover{
    color: #ff7430;
}

.faq_detail_container h2 span{
    font: 14px/14px 'Poppins', sans-serif;
    color: #4f4f4f;
	padding: 0px 10px 0px 0px;
}
.faq_detail_container p{
    font: 12px/20px 'Poppins', sans-serif;
    color: #787777;
    font-weight: normal;
	padding: 15px 0px 30px 22px;
}
.help_category_secs{
	float:left;
	height:130px;
	margin: 0px 0px 0px 5%;
	text-align: center;
	width:20%;
}
.help_category_secs span i{
	font-size:55px;
	color:#8b8b8b;
	text-align: center;
}
.help_category_secs_head{
	font: 16px/16px 'Poppins', sans-serif;
    color: #8b8b8b;
    font-weight: 500;
    padding: 25px 0px 0px 0px;
}
.help_category_secs:hover .help_category_secs_head{
	color:#ff7430;
}
.help_category_secs:hover i{
	color:#ff7430;
}
.add_shop_btn_wrap{
    float: left;
    height: auto;
    margin: 0px 0px 15px 0px;
    width: 100%;
}

.add_shop_btn{
	background-color: #ff7430;
    border-radius: 3px;
    float: right;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 12px 0px 12px;
    width: auto;
}
.add_shop_btn a{
	font: 14px/10px 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0px 0px 0px 0px;
	text-decoration:none;
}
.add_shop_btn:hover{
    background-color: #414141;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}


/*FAQ end*/


/*add shop start*/

.add_shop_main_container{
	float:left;
	height:auto;
	width:100%;
}
.add_shop_form_colum{
	float:left;
	height:auto;
	width:49.5%;
}
.add_shop_form_colum:nth-child(2){
	float:right;
}

.add_shop_main_container .btn_container{
	float:left;
	height:auto;
	width:100%;
}
.add_shop_main_container .btn_container .submit_btn {
    background-color: #ff7430;
    color: #FFFFFF;
    font: 18px/40px 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    width: 130px;
}
.add_shop_main_container .btn_container .submit_btn:hover {
    background-color: #414141;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
}

/*add shop end*/


/*view gallery start*/

.view_gallery_main_container{
	border: solid 1px #c9ced0;
	float:left;
	height:auto;
	width:100%;
}
.view_gallery_item_wrap{
	border-bottom: solid 1px #c9ced0;
	float:left;
	height:auto;
	padding-bottom:25px;
	width:100%;
}
.view_gallery_item_wrap:last-child{
	border-bottom: none;
}

.view_gallery_img{
	border: solid 1px #c9ced0;
	float:left;
	height:110px;
	margin:25px 0px 0px 25px;
	width:110px;
}
.view_gallery_img img{
	width:100%;
}
.view_gallery_edit_delete_wrap{
	float:left;
	height:auto;
	margin: 70px 0px 0px 20px;
	width:auto;
}
.view_gallery_edit_div{
	border-right: solid 1px #c9ced0;
	float:left;
	height:auto;
	margin: 0px 0px 0px 20px;
	width:auto;
	font: 14px/0px 'Poppins', sans-serif;
    font-weight: 500;
	color:#506272;
	padding: 0px 20px 0px 0px;
}

.view_gallery_edit_div:hover{
	color:#ff7430;
}
.view_gallery_edit_div:hover i{
	color:#ff7430;
}
.view_gallery_edit_div i{
	font-size: 20px;
	color:#506272;
	padding: 0px 8px 0px 0px;
}


/*view gallery end*/


@media screen and (max-width:1200px){

.download_app_left_section h1 {
    font: 27px/30px 'Poppins', sans-serif;
    font-weight: 600;
}
.download_app_left_section p {
    font: 12px/12px 'Poppins', sans-serif;
}	

}

@media screen and (max-width:1100px){
nav ul li {
    width: 150px;
}	
.sign_in_left_container {
    padding: 80px 0px 0px 0px;
}

}

@media screen and (max-width:1050px){

.download_app_left_section h1 {
    font: 24px/30px 'Poppins', sans-serif;
    font-weight: 600;
}
.download_app_left_section p {
    font: 10px/10px 'Poppins', sans-serif;
	font-weight: 500;
}
.download_app_right_section img {
    margin-top: 120px;
    width: 100%;
}	

}

@media screen and (max-width:1024px){
	
.logo {
    width: 30px;
	margin-top: 18px;
}	
header .main_container
{
	max-width:100%;
}
nav {
    width: 240px;
    height: 100%;
    position: fixed;
    left: -240px;
    top: 0;
    z-index: 99;
    overflow-y: scroll;
}
nav > ul {

    margin-top:68px;
}
nav ul li {
    width: 100%;
	border-bottom:1px solid #e2e2e2;
}
nav ul li a
{
	width:100%;
	height:100%;
	display:inline-block;
}
nav ul li a span {
    padding: 0px 10px 0px 20px;
}
.responsive-menu-btn
{
	display:block;
	margin-top:5px;
}
.responsive-user-btn
{
	display:block;
	margin: 5px 10px 0 0;
}


.header_section_right > li > .sub_menu
{
	display:none;
	right:0;
	top:44px;
}
.myaccount_btn
{
	display:none !important;
}

.header_section_right {
    margin: 24px 20px 0px 0px;
}
body {
    padding-top: 68px;
}
.header_wrap_1
{
	border-bottom:none;
}
.header_wrap_top {
    padding: 0;
    height: 68px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
	border-bottom:none;
	    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
	
.search-main-wrapper {
    width: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
	margin:20px 0 0 0;
	float:left;
}
.search-wrapper {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.search-wrapper .search-content {
        background: rgb(208, 95, 40);
}

.searchform1 button {
    width: 120px;
}
.banner_slider_txt_main_wrap {
    padding-top: 75px;
}

.main_content_deal1_logo
{
	width:100%;
    margin-top: 0;
	margin-bottom:30px;
}
.main_content_deal1_timeleft {
    width: 100%;
}
.deal-item-container
{
	width:48%;
	margin-left:4%;
}
.deal-item-main-container .deal-item-container:nth-child(1)
{
	margin-left:0;
}
.deal-item-main-container .deal-item-container:nth-child(2n+1)
{
	margin-left:0;
}

.deal-item-container .time-left-e
{
	width:100%;
	line-height: 18px;
}
.deal-item-container .time-left
{
	width:100%;
}
.deal-item-container .product-name	
{	
	width:100%;
	text-align:center;
	line-height: 18px;
}
.deal-item-container .price
{
	width:100%;
	margin: 0;
	text-align:center;
}
.deal-item-container .discount
{	
	width:100%;
}
.deal-item-container .qty
{	
	width:120px;
	position: relative;
    left: 50%;
    margin-left: -60px;
	
}
.deal-item-container .qty_clear
{
	display:block;
}
.deal-item-container .block-call-container
{	
	width:84px;
	position:relative;
	left:50%;
	margin-left:-42px;
}
.deal-item-container .block-e {

    padding: 6px 12px;
}

.vender-details .right-sec {
    width: 100%;
	float:left;
	padding-left:269px;
    margin: 10px 0 0 0;
}	

.product-detail-container .img-container {
    width: 30%;
}
.product-detail-container .detail-container .call-text {
    margin: 10px 0 0 10px;
}

.vendor_product_list_wrap_main {
    width: 30%;
}


.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(4n+1)
{
	margin-left:4%;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(3n+1)
{
	margin-left:0;
}
.vendor_search_wrapper {
    width: 100%;
}

.download_app_right_section {
    display: none;
}
.download_app_left_section {
    width: 100%;
}
.download_app_left_section h1 {
    font: 34px/30px 'Poppins', sans-serif;
    font-weight: 600;
}
.download_app_left_section p {
    font: 12px/12px 'Poppins', sans-serif;
    font-weight: 500;
}

}

@media screen and (max-width:992px){
.offer-pop-up-container {
    max-width: 600px;
}
.offer-pop-up-container .add-offer-from .field-wrapper .label {
    width: 100%;
    text-align: left;
}	
.offer-pop-up-container .add-offer-from .field-wrapper .label1 {
     width: 100%;
    text-align: left;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .input-field-1 {
    width: 150px;
}
.offer-pop-up-container {
    margin: 0em auto;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content
{
	width:100%;
}
}

@media screen and (max-width:990px){

.product-list-container .product-item {
    width: 30.6%;
}

.product-list-container .product-item:nth-child(4n+1)
{
	    margin-left: 4%;
}
.product-list-container .product-item:nth-child(3n+1)
{
	margin-left:0;
}

.subscribe-container {
    width: 100%;
	float:left;
	overflow:visible;
	padding:0;
}
.subscribe-container .pakage-container {
    width: 48%;
}
.subscribe-container .pakage-container:nth-child(2) {
    margin-left: 4%;
}

.days-checkbox-btn:before {
    left: 10px;
    top: 20px;

}

@media screen and (max-width:900px){
	
.vendor_register_left_main {
	width: 85%;
}
.vendor_register_left_container {
    margin-left: 50px;
    width: 84%;
}
.payment_or_div{
	margin: 4% 30px 0px 30px;
}


.my_shops_rate_it_div {
    border-top: solid 1px #c9ced0;
	border-left:none;
    float: right;
    height: auto;
    margin-right: 0px;
    padding: 10px 0px 0px 25px;
    width: 100%;
	font: 12px/20px 'Poppins', sans-serif;
	font-weight: 500;
    margin: 30px 0px 0px 0px;
}
.my_shops_content_wrap {
    padding: 30px 0px 10px 0px;
}
}

@media screen and (max-width:850px){
	
.dont_have_ac_wrap {
    font: 12px/20px 'Poppins', sans-serif;
}
.block_history_rate_it_div {
	border-left: none;
    border-top: solid 1px #c9ced0;
    float: left;
    padding: 10px 0px 0px 20px;
    width: 100%;
    margin: 20px 0px 0px 0px;
}
.view_review_name_date_wrap {
    width: 90%;
}
.view_review_content {
    width: 90%;
}

}

@media screen and (max-width:800px){
.product-detail-container .detail-container .call-btn {
    width: 90px;
}
.product-detail-container .detail-container .block-btn {
    width: 90px;
}
}

@media screen and (max-width:768px){
	
	

.main_content_deal1 {
    width: 100%;
}
.deal-item-container {
    width: 48%;
    margin-left: 4%;
}
.deal-item-main-container .deal-item-container:nth-child(2n+1)
{
	margin-left: 2%;
}
.deal-item-main-container .deal-item-container:nth-child(3n+1)
{
	margin-left:0;
}
.vender-details {
    width: 100%;
}	
.vender-details .vendor-log {
    left: 20px;
}
.vender-details .vender-address {
    width: 100%;
	padding-left: 20px;
}
.vender-details .right-sec {
    padding-left: 20px;
    margin: 10px 0 0 0;
}

.vendor_product_list_wrap_main {
    width: 48%;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(4n+1)
{
	margin-left:4%;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(3n+1)
{
	margin-left:4%;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(2n+1)
{
	margin-left:0;
}

.download_app_left_section h1 {
    font: 27px/30px 'Poppins', sans-serif;
    font-weight: 600;
}


.searchform1 .field_wrapper {
    margin-right: 1%;
    width: 48%;
    margin-bottom: 10px;
}
.searchform1 .field_wrapper input{
    margin-right: 1%;
    width: 48%;
    margin-bottom: 10px;
}

.sort_wrap_main {
    width: 100%;
    height: auto;
    float: left;
}
.sort_wrap_main ul {
    float: left;
}


.help_category_secs {
    height: 150px;
    margin: 0px 0px 0px 0;
    width: 50%;
}


.my_shops_product_detail_wrap_sub {
    border-right: solid 1px #c9ced0;
    border-bottom: solid 1px #c9ced0;
    width: 50%;
}
.my_shops_product_detail_wrap_sub:nth-child(2) {
    border-right:none;
}
.my_shops_product_detail_wrap_sub:nth-child(4) {
    border-right:none;
}
.my_shops_product_detail_wrap_sub:nth-child(5) {
    border-right: solid 1px #c9ced0;
	border-bottom: none;
}

}


@media screen and (max-width:700px){

.sign_in_right_main {
    display: none;
}
.sign_in_left_main {
    width: 100%;
}	
.sign_in_left_container {
    padding: 80px 0px 80px 0px;
}
.payment_or_div{
	margin: 3% 30px 0px 30px;
}
.view_review_section_wrap {
    height: auto;
    margin: 10px 0px 30px 0px;
    padding: 0px 0px 0px 10px;
    width: 100%;
	
}
.review_head_circle {
    float: none;
	margin: 0 auto;
    margin-top: -40px;
}
.view_review_section_contain {
    margin-top: 70px;
	width:100%;
	float:left;
}
.view_review_content {
    width: 100%;
}
.view_review_name_date_wrap {
    width: 100%;
}

.my_shops_address_section {
    margin-left: 0px;
    width: 100%;
    margin-top: 30px;
}

}


@media screen and (max-width:640px){
	

.searchform {
    padding: 2px 25px;
}
.searchform1 {
    padding: 2px 25px;
}
.searchform .field_wrapper {
    margin-right: 0;
	margin-bottom:10px;
    width: 100%;
}

.searchform1 .field_wrapper {
    margin-right: 0;
    width: 100%;
}
.searchform1 .field_wrapper input{
    margin-right: 0;
    width: 100%;
}
.banner_slider_txt_main_wrap {
    padding-top: 35px;
}
.banner_slider_txt_container h1 {
    font: 22px/22px 'Poppins', sans-serif;
}
.banner_slider_txt_container p {
    font: 14px/20px 'Poppins', sans-serif;
}
.main_content_deal1 {
    width: 100%;
}

.never_miss_ofr_container {
    width: 400px;
}

.never_miss_ofr_container h1{
	letter-spacing: 2px;
}
.never_miss_ofr_field {
    width: 300px;
}

.footer_social_main {
    float: left;
}

.product-list-container .product-item {
    width: 48%;
}

.product-list-container .product-item:nth-child(4n+1)
{
	    margin-left: 4%;
}
.product-list-container .product-item:nth-child(3n+1) {
    margin-left: 4%;
}
.product-list-container .product-item:nth-child(2n+1)
{
	    margin-left: 0;
}

.product-detail-container .left-container {
    width: 100%;
}
.product-detail-container .detail-container {
    width: 100%;
}	
.product-detail-container .detail-container .discription {
    margin: 20px 0 30px 0;
}	

.vendor_listing_select_field {
    margin-left: 0;
    width: 100%;
	margin-bottom:10px;
}
.vendor_listing_txt_field
{
	width: 100%;
	margin-bottom:10px;
}
.vendor_listing_search_btn {
    width: 120px;
}

.subscribe-container .pakage-container {
        padding: 0 0 30px 0;
}

.subscribe-container .pakage-container .pakage-row .pakage-column:nth-child(1) {
    font: 14px/33px 'Poppins', sans-serif;
	font-weight: 600;
}
.subscribe-container .pakage-container .pakage-row .pakage-column {
	padding: 6px 0;
    font: 24px/33px 'Poppins', sans-serif;
	font-weight: 600;
}
.days-checkbox-btn:before {
    left: 10px;
    top: 14px;
}
.subscribe-container .pakage-container .name {
	padding: 28px 0;
    font: 30px/40px 'Poppins', sans-serif;
	font-weight: 600;
}
.subscribe-container .pakage-container .pakage-detail {
    margin: 15px 0;
}

.add_shop_form_colum {
    width: 100%;
}

.offer-pop-up-container {
    max-width: 100%;
}
.offer-pop-up-container .add-offer-from .field-wrapper .field-content .input-field-1
{
	margin-bottom:5px;
}
}

@media screen and (max-width:600px){

.block_history_content_wrap_2 {
    width: 350px;
    margin: 20px 0px 0px 0px;
}
.block_history_content_wrap_2 .price_container {
    width: 100%;
	margin-bottom:20px;
}
.block_history_content_wrap_2 .item_category {
    margin: 5px 0 20px 0;
}
.block_history_content_wrap_2 .price_container.first {
    border-right:none;
    margin-right: 0;
}
.block_history_offer_qty_wrap {
    margin-top: 20px;
}
.block_history_qty_div {
    padding: 0px 60px 0px 0px;
}
.block_history_receive_btn {
    margin-top: 25px;
}
.payment_icons_1 {
    width: 100%;
}
.payment_or_div {
    margin: 4% 30px 4% 42%;
}
.view_review_name_date_wrap_left {
    width: 100%;
}
.view_review_name_date_wrap_right {
    width: 100%;
    padding: 5px 0px 0px 0px;
}

.download_app_left_section h1 {
    font: 22px/30px 'Poppins', sans-serif;
    font-weight: 600;
}
.download_app_left_section p {
    font: 10px/16px 'Poppins', sans-serif;
    font-weight: 500;
}

.block_history_status_wrap .expiry_date {
    width: 100%;
    padding: 0px 0px 0px 0px;
    border-bottom: solid 1px #c9ced0;
}
.block_history_status_wrap .subscribe-btn {
    margin: 10px 0 10px 3%;
}

}


@media screen and (max-width:480px){

body {
    padding-top:55px;
}	
.logo {
    width:30px;
	margin-top: 14px;
}	
.header_wrap_top {
    height: 55px;
}
.responsive-menu-btn {
    margin-top: 0;
	font-size:20px;
}
.header_section_right {
    margin: 20px 10px 0px 0px;
}
.responsive-user-btn
{
	margin: 0 0 0 0;
}
.header_section_right > li > .sub_menu {
    top: 35px;
}
nav > ul {
    margin-top: 55px;
}

.banner_slider_txt_main_wrap {
    padding-top: 25px;
}
.banner_slider_txt_container h1 {
    font: 18px/18px 'Poppins', sans-serif;
}
.banner_slider_txt_container p {
    font: 12px/14px 'Poppins', sans-serif;
}
.banner_slider_txt_container span {
    height: 30px;
    margin-top: 10px;
}
.banner_slider_txt_container a {
    font: 12px/30px 'Poppins', sans-serif;
    padding: 0px 10px 0px 10px;
}

.main_content_div {
    margin-top: 30px;
}

.deal-item-container {
    width: 48%;
    margin-left: 4%;
}


.deal-item-main-container .deal-item-container:nth-child(3n+1)
{
	margin-left:4%;
}
.deal-item-main-container .deal-item-container:nth-child(2n+1)
{
	margin-left: 0;
}

.never_miss_ofr_container {
    width: 282px;
}

.never_miss_ofr_container h1{
	font: 22px/22px 'Poppins', sans-serif;
	letter-spacing: 1px;
}
.never_miss_ofr_field {
    width: 186px;	
}
	
.product-list-container .product-item {
    width: 100%;
	margin: 0 0 40px 0;
}

.product-list-container .product-item:nth-child(4n+1)
{
	    margin-left: 0;
}
.product-list-container .product-item:nth-child(3n+1) {
    margin-left: 0;
}
.product-list-container .product-item:nth-child(2n+1)
{
	    margin-left: 0;
}

.product-detail-container .detail-container .call-btn {
    width: 143px;
}
.product-detail-container .detail-container .block-btn {
    width: 143px;
}	
.product-detail-container .detail-container .call-text {
    width: 100%;
    text-align:left;
	height: 22px;
	line-height: 24px;
}

.vendor_product_list_wrap_main {
    width: 100%;
	margin-left:0;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(4n+1)
{
	margin-left:0;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(3n+1)
{
	margin-left:0;
}
.vendor_product_list_container .vendor_product_list_wrap_main:nth-child(2n+1)
{
	margin-left:0;
}

.subscribe-container .pakage-container {
    width: 100%;
}
.subscribe-container .pakage-container:nth-child(2) {
    margin-left: 0;
}



.help_category_secs {
    height: 150px;
    margin: 0px 0px 0px 0;
    width: 100%;
}

}

@media screen and (max-width:450px){
	
.block_history_order_id_wrap_left {
    width: 100%;
}
.block_history_order_id_wrap_right {
    padding: 3px 0px 20px 20px;
    width: 100%;
}
.add_shop_btn {
    float: left;
    margin: 10px 0px 0px 0px;
}
.page_links_wrap {
    margin-top: 0px;
    width: 100%;
	margin-bottom:10px;
}
.view_gallery_edit_delete_wrap {
    margin: 20px 0px 0px 7px;
    width: 100%;
}

}

@media screen and (max-width:400px){
	
	
.already_have_ac_wrap {
    font: 14px/20px 'Poppins', sans-serif;
}
.block_history_content_wrap_2 {
    width: auto;
    margin: 20px 0px 0px 0px;
}
.block_history_content_wrap_2 h1 {
    font: 12px/16px 'Poppins', sans-serif;
	font-weight: 500;
}
.block_history_offer_qty_wrap {
    margin-bottom: 30px;
	width:94%;
}
.block_history_qty_div {
	float:left;
    padding: 15px 60px 0px 0px;
}
.block_history_receive_btn {
    margin-top: 35px;
}
.vendor_register_left_container h1 {
    font: 20px/0px 'Poppins', sans-serif;
    font-weight: bold;
}
.sign_in_txt_field {
    font: 12px/41px 'Poppins', sans-serif;
}
.dont_have_ac_wrap {
    font: 11px/20px 'Poppins', sans-serif;
}
.dont_have_ac_wrap a {
    font: 12px/20px 'Poppins', sans-serif;
    font-weight: 500;
}
.already_have_ac_wrap {
    font: 12px/20px 'Poppins', sans-serif;
}
.already_have_ac_wrap a {
    font: 14px/20px 'Poppins', sans-serif;
    font-weight: 500;
}
.download_store_wrap {
    margin-left: -115px;
    width: 230px;
}
.download_store_icon_div img{
	width:100px;

}


.my_shops_logo_div {
    width: 90%;
}
.my_shops_logo_div img {
    width: 100%;
}

}

@media screen and (max-width:380px){
.search-wrapper .search-head .search-tabs .tab {
    padding: 7px 12px;
}	
.search-wrapper .search-head .search-tabs .tab.advance-search-tab {
    text-indent: 22px;
}
.main_content_deal1_timeleft {
    padding: 0 10px;
}

}



