﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <title>
        <asp:ContentPlaceHolder ID="TitleContent" runat="server" />
    </title>
    <link href="<%: Url.Content("~/favicon.ico") %>" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,900italic,300' rel='stylesheet' type='text/css'>
      <asp:ContentPlaceHolder ID="TopScriptSection" runat="server" />
<%--    <%: Styles.Render("~/Content/css") %>
    <%: Scripts.Render("~/bundles/modernizr") %>--%>
</head>
<body>
    <div class="wrapper">
	<header>
    	<div class="header_wrap_1 header_wrap_top">
        	<div class="main_container">
            
            	<div class="logo"><a href="index.html"><img src="../images/logo.png"/></a></div>
               

            </div><!--main_container-->
        </div><!--header_wrap_1-->
       
     
    </header>

        <div class="sign_in_main_container">
            <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
             </div><!--sign_in_main_container--> 
          <footer style="margin-top:0">
        	<div class="footer_container">
            	<div class="copyright_div">Website Made by <span><a href="http://www.godlandit.com/" target="_blank">GL Infotech</a></span></div>
                <div class="footer_social_main"> 
                	<a href="" class="social_icons"><i class="fa fa-facebook"></i></a>
                     <a href="" class="social_icons"><i class="fa fa-twitter"></i></a> 
                     <a href="" class="social_icons"><i class="fa fa-google-plus"></i></a> 
                     <a href="" class="social_icons"><i class="fa fa-linkedin"></i></a>
               </div><!--footer_social_main-->
            </div><!--footer_container-->
        </footer>
    </div>
    
    


    <asp:ContentPlaceHolder ID="ScriptsSection" runat="server" />
</body>
</html>
